<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>view.outline_template</param-name>
        <param-value>outline.ftl.html</param-value>
    </context-param>
    <context-param>
        <param-name>view.date_format</param-name>
        <param-value>dd/MM/yyyy hh:mm:ss</param-value>
    </context-param>
    <context-param>
        <param-name>view.debug</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>view.template_directory</param-name>
        <param-value>template</param-value>
    </context-param>
    <context-param>
        <param-name>view.data.author</param-name>
        <param-value>Tony e Toni</param-value>
    </context-param>
    <context-param>
        <param-name>view.data.homepage_url</param-name>
        <param-value>homepage</param-value>
    </context-param>
    <context-param>
        <param-name>view.encoding</param-name>
        <param-value>ISO-8859-1</param-value>
    </context-param>
    <servlet>
        <servlet-name>ListCorsi</servlet-name>
        <servlet-class>courseweb.controller.ListCorsi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>courseweb.controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>courseweb.controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListDocenti</servlet-name>
        <servlet-class>courseweb.controller.ListDocenti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DettagliDocente</servlet-name>
        <servlet-class>courseweb.controller.DetailsDocente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailsCorso</servlet-name>
        <servlet-class>courseweb.controller.DetailsCorso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailsCorsoCdl</servlet-name>
        <servlet-class>courseweb.controller.DetailsCorsoCdl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListCorsi</servlet-name>
        <url-pattern>/listcorsi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListDocenti</servlet-name>
        <url-pattern>/listdocenti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DettagliDocente</servlet-name>
        <url-pattern>/dettaglidocente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailsCorso</servlet-name>
        <url-pattern>/DetailsCorso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailsCorsoCdl</servlet-name>
        <url-pattern>/DetailsCorsoCdl</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Home</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>jdbc/igw</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
