<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>view.outline_template</param-name>
        <param-value>outline.ftl.html</param-value>
    </context-param>
    <context-param>
        <param-name>view.encoding</param-name>
        <param-value>ISO-8859-1</param-value>
    </context-param>
    <context-param>
        <param-name>view.error_template</param-name>
        <param-value>error.ftl.html</param-value>
    </context-param>
    <context-param>
        <param-name>view.data.author</param-name>
        <param-value>Toni #38 Tony</param-value>
    </context-param>
    <context-param>
        <param-name>view.date_format</param-name>
        <param-value>dd/MM/yyyy hh:mm:ss</param-value>
    </context-param>
    <context-param>
        <param-name>view.debug</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>view.template_directory</param-name>
        <param-value>template</param-value>
    </context-param>
    <servlet>
        <servlet-name>TemplateServlet</servlet-name>
        <servlet-class>courseweb.controller.TemplateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCorsi</servlet-name>
        <servlet-class>courseweb.controller.ListCorsi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TemplateServlet</servlet-name>
        <url-pattern>/TemplateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCorsi</servlet-name>
        <url-pattern>/ListCorsi</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>ListCorsi</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>jdbc/igw</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
