<section id="sub-header">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <h1>Backoffice</h1>
                    <p class="lead"></p>
                </div>
            </div>
            <!-- End row -->
        </div>
        <!-- End container -->
        <div class="divider_top"></div>
    </section>
    <!-- End sub-header -->
    
    <section id="main_content">
        <div class="container">
            <ol class="breadcrumb">
                <li class="active">
                    <a href="BackofficeD?lin=it">Backoffice</a>
                </li>
            </ol>
    
            <div class="row">
                <aside class="col-md-4">
                    <div class="box_style_1 profile">
                        <h4>Funzioni creazione</h4>
                        
                        <ul>
                            <#list corso as corso>
                            <li><a href="CreateCorsoD?n=${corso.ID}"> ${corso.nome_it} </a></li>
                            </#list>
                        </ul>
                        
                    </div>
    
                </aside>
            </div>

            <div class="row">

                <div class="col-md-8">
                    <#if message??>
                    <p><strong>${message}</strong></p>
                    </#if>



            </div>
            </div>





        </div>
        <!-- End row-->
        </div>
        <!-- End container -->
    </section>
    <!-- End main_content-->