<section id="sub-header">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <h1>Backoffice</h1>
                <p class="lead"></p>
            </div>
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
    <div class="divider_top"></div>
</section>
<!-- End sub-header -->

<section id="main_content">
    <div class="container">
        <ol class="breadcrumb">
            <li>
                <a href="Backoffice?lin=it">Backoffice</a>
            </li>
            <li class="active">
                <a href="Corsianno?lin=it">Selezione del corso</a>
            </li>
        </ol>

        <div class="row">
                <aside class="col-md-4">
                        <div class="box_style_1 profile">
                            <h4>Funzioni creazione</h4>
        
                            <ul>
                                <li><a href="CreateCDL">Crea Un Nuovo Cdl</a></li>
                                <li><a href="CreateCorso">Crea Nuovo Corso</a></li>
                                <li><a href="RegisterDocente">Registra Nuovo Docente</a></li>
                                <li><a href="MaterialeNew">Aggiungi Materiale</a></li>
                                <li><a href="LibroNew">Aggiungi Libro</a></li>
                            </ul>
        
                            <h4>Funzioni modifica</h4>
                            <ul>
                                <li><a href="Corsianno">Modifica corsi</a></li>
                                <li><a href="ModificaCDL">Modifica Cdl</a></li>
                                <li><a href="ModificaDocente">Modifica Docente</a></li>
                            </ul>
        
                            <h4>Funzioni Upload</h4>
                            <ul>
                                <li><a href="MaterialeUp">Materiale gestione</a></li>
                                <li><a href="LibroUp">Libri gestione</a></li>
                            </ul>
        
                        </div>
                    


                <aside class="col-md-12">
                    <div class="box_style_2">
                        <h5> Seleziona il cdl interessato</h5>
                        <h6> Cdl triennali</h6>
                        <#list cdl as cdl>
                            <li>
                                <a href="Corsianno?n=${cdl.IDCDL}"><#if cdl.nome_it?trim?has_content>${cdl.nome_it}<#else>${cdl.nome_en} </#if></a>
                            </li>
                        </#list>

                            <h6>Cdl magistrali</h6>
                        <#list cdlm as cdlm>
                            <li>
                                <a href="Corsianno?n=${cdlm.IDCDL}"><#if cdlm.nome_it?trim?has_content>${cdlm.nome_it}<#else>${cdlm.nome_en}</#if></a>
                            </li>
                        </#list>



                    </div>
                </aside>
            </aside>


            <#if corso??>
            <h3>Seleziona l'anno interessato alla modifica</h3>
            <div class="panel-group" id="accordion">
                <#assign x=1>

                    <#list corso as anno,corso>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse${x}"> ${anno?c}
                                        <i class="indicator icon-plus pull-right"></i>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse${x}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <#list corso as corso>
                                    <li>
                                        <#if materiale??>
                                        <a href="MaterialeUp?n=${corso.ID}&lin=it"><#if corso.nome_it?trim?has_content>${corso.nome_it}<#else>${corso.nome_en}</#if></a>
                                        </#if>
                                        <a href="ModificaCorso?n=${corso.ID}&lin=it"><#if corso.nome_it?trim?has_content>${corso.nome_it}<#else>${corso.nome_en}</#if></a>
                                    </li>
                                    </#list>
                                </div>
                            </div>
                            <#assign x++>
                        </div>
                    </#list>
                    </#if>
            </div>

            </div>
            <!-- End row-->
        </div>
        <!-- End container -->
</section>
<!-- End main_content-->