<section id="sub-header">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <h1>Backoffice</h1>
                <p class="lead"></p>
            </div>
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
    <div class="divider_top"></div>
</section>
<!-- End sub-header -->

<section id="main_content">
    <div class="container">
        <ol class="breadcrumb">
            <li>
                <a href="Backoffice?lin=it">Backoffice</a>
            </li>
            <li class="active">
                <a href="Corsianno?lin=it">Selezione del corso</a>
            </li>
        </ol>

        <div class="row">
                <aside class="col-md-4">
                    <div class="box_style_1 profile">
                        <h4>Funzioni creazione</h4>
    
                        <ul>
                            <li>
                                <a href="CreateCDL">Crea un nuovo corso di laurea</a>
                                </strong>
                            </li>
                            <li>
                                <a href="CreateCorso">Crea nuovo corso</a>
                                </strong>
                            </li>
                            <li>
                                <a href="RegisterDocente">Registra nuovo docente</a>
                                </strong>
                            </li>
                        </ul>
    
                        <h4>Funzioni modifica</h4>
                        <ul>
                            <li>
                                <a href="Corsianno">Modifica corsi</a>
                                </strong>
                            </li>
                        </ul>
                    </div>
    
                
            


                <aside class="col-md-12">
                    <div class="box_style_2">
                        <h5> Seleziona il cdl interessato</h5>
                        <h6> Cdl triennali</h6>
                        <#list cdl as cdl>
                            <li>
                                <a href="Corsianno?n=${cdl.IDCDL}">${cdl.nome_it}</a>
                            </li>
                        </#list>

                            <h6>Cdl magistrali</h6>
                        <#list cdlm as cdlm>
                            <li>
                                <a href="Corsianno?n=${cdlm.IDCDL}">${cdlm.nome_it}</a>
                            </li>
                        </#list>



                    </div>
                </aside>
            </aside>


            <#if corso??>
            <h3>Seleziona l'anno interessato alla modifica</h3>
            <div class="panel-group" id="accordion">
                <#assign x=1>

                    <#list corso as anno,corso>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse${x}"> ${anno?c}
                                        <i class="indicator icon-plus pull-right"></i>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse${x}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <#list corso as corso>
                                    <li>
                                        <a href="ModificaCorso?n=${corso.ID}&lin=it">${corso.nome_it}</a>
                                    </li>
                                    </#list>
                                </div>
                            </div>
                            <#assign x++>
                        </div>
                    </#list>
                    </#if>
            </div>

            </div>
            <!-- End row-->
        </div>
        <!-- End container -->
</section>
<!-- End main_content-->