<#noautoesc>

<section id="sub-header" >
  	<div class="container">
    
    	<div class="row">
        	<div class="col-md-12 text-center">
            	<h1>Course details</h1>
                <p class="lead"></p>
            </div>
        </div><!-- End row -->
        
        <div class="row" id="sub-header-features-2">
        	<div class="col-md-4">
            	<h2>General Informations</h2>
                <ul class="list_ok">
                    <li><strong>SSD:</strong> &nbsp;${corso.SSD}</li>
                    <li><strong>CDL:</strong>&nbsp;<#list corso.CDL as cdl>
                                    <#if cdl.abbr_en?trim?has_content>${cdl.abbr_en}<#else>${cdl.abbr_it}</#if><#if cdl?has_next>,&nbsp;</#if>
                                </#list></li>
                    <li><strong>Language:</strong>&nbsp;  ${corso.lingua}</li>
                    <li><strong>Semester:</strong>&nbsp;  ${corso.semestre}</li>
                    <li><strong>CFU (e tipo):</strong>&nbsp;  ${corso.cfu} / ${corso.tipologia}</li>
                    <li><strong>Accademic Year:</strong>&nbsp; ${corso.anno?c}/${(corso.anno+1)?c}</li>
                </ul>
            </div>

            <div class="col-md-4">
                <h2>Prerequisites</h2>
                <span><#if descrizione_en.prerequisiti?trim?has_content> ${descrizione_en.prerequisiti} <#else> ${descrizione_it.prerequisiti} </#if></span>
            </div>

           <div class="col-md-4">
            <h2>Objectives</h2>
            <span><#if descrizione_en.obiettivi?trim?has_content> ${descrizione_en.obiettivi} <#else> ${descrizione_it.obiettivi} </#if></span>
       </div>

        	       
        </div><!-- End row --> 

        <div id="divider"></div>
        <div class="row">
            <div class="col-md-12" id="tipocorso">


                    <#list propedeudici as propedeudico>
                    <li><strong>Preparatory Courses:</strong> <strong><a href="DetailsCorso?n=${propedeudico.ID}&lin=en" id="dc"><#if propedeudico.nome_en?trim?has_content>  ${propedeudico.nome_en} <#else> ${propedeudico.nome_it} </#if></a></strong> </li>
                    </#list>



                    <#if mutuati?has_content>
                        <li><strong>Borrowed Courses:</strong><#list mutuati as mutua> <strong><a href="DetailsCorso?n=${mutua.ID}&lin=en" id="dc"> <#if mutua.nome_en?trim?has_content>  ${mutua.nome_en} <#if mutua?has_next>,&nbsp</#if> <#else> ${mutua.nome_it} <#if mutua?has_next>,&nbsp</#if></#if></a></strong></#list> </li>
                        </#if>
                    
                        <#if mutuato??><li><strong>Borrowed By:</strong> <strong><a href="DetailsCorso?n=${mutuato.ID}&lin=en" id="dc"><#if mutuato.nome_en?trim?has_content>  ${mutuato.nome_en} <#else> ${mutuato.nome_it}</#if></a></strong> </#if></li>
                    



                    <#list moduli as modulo>
                    <li><strong>Module Courses:</strong> <strong><a href="DetailsCorso?n=${modulo.ID}&lin=en" id="dc"><#if modulo.nome_en?trim?has_content>  ${modulo.nome_en} <#else> ${modulo.nome_it} </#if></a></strong> </li>
                    </#list>

                   

            </div>
        </div>
    </div><!-- End container -->




<div class="divider_top"></div>
  </section>
  
  <!------------ FINE PARTE INFORMATIVA (VERDE)---->

  <section id="main_content">
   <div class="container">
  
  <ol class="breadcrumb">
      <li><a href="Home?lin=en">Home</a></li>
      <li><a href="listcorsi?lin=en">Courses List</a></li>
      <li class="active"><#if corso.nome_en?trim?has_content> ${corso.nome_en} <#else> ${corso.nome_it} </#if></li>
    </ol>

	 

<!--------Contenuto principale---------->
<div class="row">
    <div class="col-md-8">

            <section id="space">
                <h3>Syllabus</h3>
                 <#if descrizione_en.sillabo?trim?has_content> ${descrizione_en.sillabo} <#else> ${descrizione_it.sillabo} </#if>
            </section>







        <h3>Dublin Descriptors</h3>
        <main class="main" id="space">

            <input class="input" id="tab1" type="radio" name="tabs" checked>
            <label for="tab1">Knowledge</label>
              
            <input class="input" id="tab2" type="radio" name="tabs">
            <label for="tab2">Application</label>
              
            <input class="input" id="tab3" type="radio" name="tabs">
            <label for="tab3">Evaluation</label>
              
            <input class="input" id="tab4" type="radio" name="tabs">
            <label for="tab4">Communication</label>
              
            <input class="input" id="tab5" type="radio" name="tabs">
            <label for="tab5">Lifelong</label>
            

            <section class="section" id="content1">
                 <#if dublino_en.knowledge?trim?has_content> ${dublino_en.knowledge} <#else> ${dublino_it.knowledge} </#if>
            </section>
              
            <section class="section" id="content2">
                 <#if dublino_en.application?trim?has_content> ${dublino_en.application} <#else> ${dublino_it.application} </#if>
            </section>
              
            <section class="section" id="content3">
                 <#if dublino_en.evaluation?trim?has_content> ${dublino_en.evaluation} <#else> ${dublino_it.evaluation} </#if>
            </section>
              
            <section class="section" id="content4">
                <#if dublino_en.communication?trim?has_content> ${dublino_en.communication} <#else> ${dublino_it.communication} </#if>
            </section>
              
            <section class="section" id="content5">
                 <#if dublino_en.lifelong?trim?has_content> ${dublino_en.lifelong} <#else> ${dublino_it.lifelong} </#if>
            </section>
    </main>
        

    <section id="space">
            <h3>Modalit&#224 d'esame</h3>

            <#if descrizione_en.mod_Esame?trim?has_content> ${descrizione_en.mod_Esame} <#else> ${descrizione_it.mod_Esame} </#if>
            
        </section>

        <section id="space">
                <h3>Modalit&#224 d'insegnamento</h3>
    
                <#if descrizione_en.mod_Insegnamento?trim?has_content> ${descrizione_en.mod_Insegnamento} <#else> ${descrizione_it.mod_Insegnamento} </#if>
                
            </section>
        
        <section id="space">
            <h3>Note</h3>

            <#if descrizione_en.note?trim?has_content> ${descrizione_en.note} <#else> ${descrizione_it.note} </#if>
            
        </section>
        
        <#if precedenti??>
        <section id="space">
            <h3>Course Page Updates</h3>
            <#list precedenti?sort_by("anno") as precedenti>
            <li><a href="DetailsCorso?n=${precedenti.ID}&lin=en&new=${nn}"> A.A. ${precedenti.anno?c}/${(precedenti.anno+1)?c} </a></li>
            </#list>
            <#if nn!=corso.ID> <li><a href="DetailsCorso?n=${nn}&lin=en"> Current Informations </a></li> </#if>
        </section>
      </#if>


    </div><!-- End col-md-8-->   	


<!-------Fine Contenuto principale---------->
  	                 

            <aside class="col-md-4"> <!--tabelle destra-->
            
            	<div class="box_style_1">
                    <h4><a href="listmateriale?k=${corso.ID}&lin=en">Material</a></h4><br>
                	<h4>Teachers</h4>
                        <#list docenti as docente>
                    <div class="media">
                        <div class="pull-right">
                            <img id="img-piccola" src="${docente.immagine}" class="img-circle" alt="">
                        </div>
                        <div class="media-body">
                            <h5 class="media-heading"><a href="dettaglidocente?k=${docente.IDDocente}&lin=en">${docente.nome} ${docente.cognome}</a></h5>
                            <p>
                                ${docente.specializzazione}
                            </p>
                        </div>
                    </div>
                    </#list>
                    
                    
           </div>
           
            <div class="box_style_1">
                    <h4>Books</h4>
                    <ul class="legend_course">
                        <#list libri as libro>
                        <li><#if libro.link??><a href="${libro.link}"></#if>${libro.titolo}</a>,<#if libro.volume!=0> Vol.${libro.volume},</#if> ${libro.anno?c}, ${libro.autore}, ${libro.editore} </li>
                        </#list>
                     </ul>
           </div>
       	 	
           
            <#if descrizione_it.homepage?trim?has_content || descrizione_it.forum?trim?has_content || descrizione_it.risorse_Ext?trim?has_content || descrizione_en.homepage?trim?has_content || descrizione_en.forum?trim?has_content || descrizione_en.risorse_Ext?trim?has_content>      
                
           <div class="box_style_1">
                    <h4>External Links</h4>
                    <ul class="list_1">
                          <#if descrizione_en.homepage?trim?has_content><li><a href="${descrizione_en.homepage}">Homepage</a></li><#elseif descrizione_it.homepage?trim?has_content><li><a href="${descrizione_it.homepage}">Homepage</a></li></#if>
                          <#if descrizione_en.forum?trim?has_content><li><a href="${descrizione_en.forum}">Forum</a></li><#elseif descrizione_it.forum?trim?has_content><li><a href="${descrizione_it.forum}">Forum</a></li></#if>
                          <#if descrizione_en.risorse_Ext?trim?has_content><li><a href="${descrizione_en.risorse_Ext}">External Resources</a></li><#elseif descrizione_it.risorse_Ext?trim?has_content><li><a href="${descrizione_it.risorse_Ext}">External Resources</a></li></#if>
                     </ul>
           </div>
            
            </#if>
            
         </aside> <!-- End col-md-4 -->
     	
     </div><!-- End row -->
  </div><!-- End container -->
  </section>

</#noautoesc>