<section id="sub-header">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <h1>Inside Learn</h1>
                <p class="lead boxed ">Ex utamur fierent tacimates duis choro an</p>
                <p class="lead">
                    Lorem ipsum dolor sit amet, ius minim gubergren ad. At mei sumo sonet audiam, ad mutat elitr platonem vix. Ne nisl idque fierent vix. 
                </p>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
    <div class="divider_top"></div>
    </section><!-- End sub-header -->
    
    
    <section id="main_content" >
    	<div class="container">
        
        <ol class="breadcrumb">
          <li><a href="Home">Home</a></li>
          <li class="active">Lista corsi</li>
        </ol>
        
        <div class="row">
        
        <aside class="col-lg-3 col-md-4 col-sm-4">
            <div class="box_style_1">
                <h4>Corsi di laurea</h4>


                <!--ATTENZIONE PASSIAMO ID CORSO LAUREA TUTTO DA SERVLET-->

            <ul class="submenu-col">
                <li><a href="listcorsi">Tutti i corsi</a></li>
                <#list cdl as cdl>
                <li><a href="DetailsCorsoCdl?n=${cdl.IDCDL}">${cdl.nome_it}</a></li>
                </#list>
            </ul>
            
                <hr>
            </div>
        </aside>
        
        <div class="col-lg-9 col-md-8 col-sm-8">
       
            <h3>Tutti i corsi</h3>
            <p>Lista di tutti i corsi</p>

                <div class="panel panel-info filterable add_bottom_45">
                    <div class="panel-heading">
                        <h3 class="panel-title">Tutti i corsi</h3>
                        <div class="pull-right">
                            <button class="btn-filter"><span class="icon-th-list"></span>Filtri</button>
                        </div>
                    </div>
                    <table class="table table-responsive table-striped">
                        <thead>
                            <tr class="filters">
                                <th><input type="text" class="form-control" placeholder="ID" disabled ></th>
                                <th><input type="text" class="form-control" placeholder="Nome" disabled></th>
                                <th><input type="text" class="form-control" placeholder="CDL" disabled ></th>
                                <th><input type="text" class="form-control" placeholder="SSD" disabled ></th>
                                <th><input type="text" class="form-control" placeholder="CFU" disabled ></th>
                                <th><input type="text" class="form-control" placeholder="Lingua" disabled ></th>
                                <th><input type="text" class="form-control" placeholder="Semestre" disabled ></th>
                                <th><input type="text" class="form-control" placeholder="Tipologia" disabled ></th>
                            </tr>
                        </thead>
                        <tbody>
                            <#list corsi as corso>
                        
                            <tr>
                                <td scope="row"><b>${corso.ID}</b></td>
                                <td><a href="DetailsCorso?n=${corso.ID}">${corso.nome_it}</a></td>
                                <td>${corso.CDL.nome_it}</td>
                                <td>${corso.SSD}</td>
                                <td>${corso.cfu}</td>
                                <td>${corso.lingua}</td>
                                <td>${corso.semestre}</td>
                                <td>${corso.tipologia}</td>
                            </tr>
                           </#list>
        
                        </tbody>
                   

                </table>
                </div><!-- End filterable -->
                    
      
 
        </div><!-- End col-lg-9-->                        
        </div><!-- End row -->
        
        <hr>
        <div class="row">
        	<div class="col-md-12 text-center">
            	<ul class="pagination">
                  <li><a href="#">&laquo;</a></li>
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">&raquo;</a></li>
                </ul>
            </div>
        </div>
            	
        </div><!-- End container -->
    </section><!-- End main_content -->

