

<section id="sub-header" >
  	<div class="container">
    
    	<div class="row">
        	<div class="col-md-12 text-center">
            	<h1>Course details</h1>
                <p class="lead">Caulie <strong>dandelion</strong> maize lentil collard greens radish arugula sweet pepper water.</p>
            </div>
        </div><!-- End row -->
        
        <div class="row" id="sub-header-features-2">
        	<div class="col-md-4">
            	<h2>Informazioni generali </h2>
                <ul class="list_ok">
                    <li><strong>SSD</strong>  ${corso.SSD}</li>
                    <li><strong>CDL</strong>  ${corso.CDL.nome_it}</li>
                    <li><strong>Lingua</strong>  ${corso.lingua}</li>
                    <li><strong>Semestre</strong>  ${corso.semestre}</li>
                    <li><strong>CFU (e tipo)</strong>  ${corso.cfu} / ${corso.tipologia}</li>
                    <li><strong>Anno</strong>  ${corso.anno?c}</li>
            </div>

            <div class="col-md-4">
                <h2>Prerequisiti</h2>
                <span>ciao ciao ciao</span>
            </div>

           <div class="col-md-4">
            <h2>Obiettivi</h2>
            <span>CIAO CIAO CIAO</span>
       </div>
        	
        </div><!-- End row -->
    </div><!-- End container -->




    <div class="divider_top"></div>
  </section>
  
  <!------------ FINE PARTE INFORMATIVA (VERDE)---->












  <section id="main_content">
  <div class="container">
  
  <ol class="breadcrumb">
      <li><a href="Home">Home</a></li>
      <li><a href="listcorsi">Corsi</a></li>
      <li class="active">${corso.nome_it}</li>
    </ol>

	 <div class="row">
     		<div class="col-md-8">

<hr>

<!--------Contenuto principale---------->
    

<ul class="nav nav-tabs" id="mytabs">
        <li class="active"><a href="#profile_teacher" data-toggle="tab">Profile</a></li>
        <li><a href="#courses" data-toggle="tab">My Courses</a></li>
    </ul>
    
     <div class="tab-content">
    
        <div class="tab-pane fade in active" id="profile_teacher">
        <h3>About me</h3>
        <p>Lorem ipsum dolor sit amet, dicta oportere ad est, ea eos partem neglegentur theophrastus. Esse voluptatum duo ne, expetenda corrumpit no per, at mei nobis lucilius. No eos semper aperiri neglegentur, vis noluisse quaestio no. Vix an nostro inimicus, qui ut animal fabellas reprehendunt. In quando repudiare intellegebat sed, nam suas dicta melius ea.</p>
        <p>Mei ut decore accusam consequat, alii dignissim no usu. Phaedrum intellegat sit ut, no pri mutat eirmod. In eum iriure perpetua adolescens, pri dicunt prodesset et. Vis dicta postulant ad.</p>
         <h4>Credentials</h4>
        <p>Lorem ipsum dolor sit amet, dicta oportere ad est, ea eos partem neglegentur theophrastus. Esse voluptatum duo ne, expetenda corrumpit no per, at mei nobis lucilius. No eos semper aperiri neglegentur, vis noluisse quaestio no. Vix an nostro inimicus, qui ut animal fabellas reprehendunt. In quando repudiare intellegebat sed, nam suas dicta melius ea.</p>
        <div class="row">
            <div class="col-md-6">
                <ul class="list_3">
                    <li><strong>September 2009 - Bachelor Degree in Economics</strong><p>University of Cambrige - United Kingdom</p></li>
                    <li><strong>December 2012 - Master course in Economics</strong><p>University of Cambrige - United Kingdom</p></li>
                    <li><strong>October 2013 - Master's Degree in Statistic</strong><p>University of Oxford - United Kingdom</p></li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list_3">
                    <li><strong>September 2009 - Bachelor Degree in Economics</strong><p>University of Cambrige - United Kingdom</p></li>
                    <li><strong>December 2012 - Master course in Economics</strong><p>University of Cambrige - United Kingdom</p></li>
                </ul>
            </div>
        </div><!-- End row--> 
       </div><!-- End tab-pane --> 
       
       <div class="tab-pane fade in" id="courses">
                   <h3>Active courses</h3>
                <p>Mei ut decore accusam consequat, alii dignissim no usu. Phaedrum intellegat sit ut, no pri mutat eirmod. In eum iriure perpetua adolescens, pri dicunt prodesset et. Vis dicta postulant ad.</p>
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Category</th>
                        <th>Course name</th>
                        <th>Lessons</th>
                        <th>Rate</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Business</td>
                        <td><a href="#">Business Plan</a></td>
                        <td>12</td>
                        <td class="rating_2"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class=" icon-star-empty"></i><i class=" icon-star-empty"></i></td>
                      </tr>
                       <tr>
                        <td>Business</td>
                        <td><a href="#">Economy pinciples</a></td>
                        <td>12</td>
                        <td class="rating_2"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></td>
                      </tr>
                       <tr>
                        <td>Business</td>
                        <td><a href="#">Understand diagrams</a></td>
                        <td>04</td>
                        <td class="rating_2"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class=" icon-star-empty"></i><i class=" icon-star-empty"></i></td>
                      </tr>
                       <tr>
                        <td>Business</td>
                        <td><a href="#">Marketing strategies</a></td>
                        <td>10</td>
                        <td class="rating_2"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class=" icon-star-empty"></i><i class=" icon-star-empty"></i></td>
                      </tr>
                       <tr>
                        <td>Business</td>
                        <td><a href="#">Marketing</a></td>
                        <td>20</td>
                        <td class="rating_2"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class=" icon-star-empty"></i></td>
                      </tr>
                       <tr>
                        <td>Business</td>
                        <td><a href="#">Business Plan</a></td>
                        <td>12</td>
                        <td class="rating_2"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></td>
                      </tr>
                      <tr>
                        <td>Business</td>
                        <td><a href="#">Economy pinciples</a></td>
                        <td>12</td>
                        <td class="rating_2"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></td>
                      </tr>
                       <tr>
                        <td>Business</td>
                        <td><a href="#">Understand diagrams</a></td>
                        <td>04</td>
                        <td class="rating_2"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class=" icon-star-empty"></i><i class=" icon-star-empty"></i></td>
                      </tr>
                       <tr>
                        <td>Business</td>
                        <td><a href="#">Marketing strategies</a></td>
                        <td>10</td>
                        <td class="rating_2"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class=" icon-star-empty"></i><i class=" icon-star-empty"></i></td>
                      </tr>
                       <tr>
                        <td>Business</td>
                        <td><a href="#">Marketing</a></td>
                        <td>20</td>
                        <td class="rating_2"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class=" icon-star-empty"></i></td>
                      </tr>
                       <tr>
                        <td>Business</td>
                        <td><a href="#">Business Plan</a></td>
                        <td>12</td>
                        <td class="rating_2"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></td>
                      </tr>
                     
                    </tbody>
                  </table>
                  </div>
       </div><!-- End tab-pane -->
       
  </div>   <!-- End content-->              

</div><!-- End col-md-8-->   	                 



            
            <aside class="col-md-4">
            
            	<div class="box_style_1">
         			<h4>Lessons <span class="pull-right">17</span></h4>
         			<h4>Hours <span class="pull-right">12</span></h4>
                    <h4>Rates <span class="pull-right rating_2"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class=" icon-star-empty"></i><i class=" icon-star-empty"></i></span></h4>
                    <h4><a href="#">Download files <i class="icon-download pull-right"></i></a></h4><br>
                	<h4>Speakers</h4>
                    <div class="media">
                        <div class="pull-right">
                            <img src="img/avatar1.jpg" class="img-circle" alt="">
                        </div>
                        <div class="media-body">
                            <h5 class="media-heading"><a href="#">Marc Twain</a></h5>
                            <p>
                                Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. 
                            </p>
                        </div>
                    </div>
                    
                    <div class="media">
                        <div class="pull-right">
                            <img src="img/avatar1.jpg" class="img-circle" alt="">
                        </div>
                        <div class="media-body">
                            <h5 class="media-heading"><a href="#">Marc Twain</a></h5>
                            <p>
                                Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in.
                            </p>
                        </div>
                    </div>
           </div>
           
            <div class="box_style_1">
                    <h4>Legend</h4>
                    <ul class="legend_course">
                          <li id="tostart">Still to start</li>
                          <li id="inprogress">In progress</li>
                          <li id="completed">Completed</li>
                     </ul>
           </div>
       	 	
           
           <div class="box_style_1">
                    <h4>Related content</h4>
                    <ul class="list_1">
                          <li><a href="#">Ceteros mediocritatem</a></li>
                          <li><a href="#">Labore nostrum</a></li>
                          <li><a href="#">Primis bonorum</a></li>
                          <li><a href="#">Ceteros mediocritatem</a></li>
                     </ul>
           </div>
         </aside> <!-- End col-md-4 -->
     	
     </div><!-- End row -->
  </div><!-- End container -->
  </section>

