

<section id="sub-header" >
  	<div class="container">
    
    	<div class="row">
        	<div class="col-md-12 text-center">
            	<h1>Course details</h1>
                <p class="lead"></p>
            </div>
        </div><!-- End row -->
        
        <div class="row" id="sub-header-features-2">
        	<div class="col-md-4">
            	<h2>Informazioni generali</h2>
                <ul class="list_ok">
                    <li><strong>SSD</strong>  ${corso.SSD}</li>
                    <li><strong>CDL</strong>  ${corso.CDL.nome_it}</li>
                    <li><strong>Lingua</strong>  ${corso.lingua}</li>
                    <li><strong>Semestre</strong>  ${corso.semestre}</li>
                    <li><strong>CFU (e tipo)</strong>  ${corso.cfu} / ${corso.tipologia}</li>
                    <li><strong>Anno</strong>  ${corso.anno?c}</li>
            </div>

            <div class="col-md-4">
                <h2>Prerequisiti</h2>
                <span><#--${descrizione_it.prerequisiti}--></span>
            </div>

           <div class="col-md-4">
            <h2>Obiettivi</h2>
            <span><#--${descrizione_it.obiettivi}--></span>
       </div>
        	
        </div><!-- End row -->
    </div><!-- End container -->




    <div class="divider_top"></div>
  </section>
  
  <!------------ FINE PARTE INFORMATIVA (VERDE)---->

  <section id="main_content">
   <div class="container">
  
  <ol class="breadcrumb">
      <li><a href="Home">Home</a></li>
      <li><a href="listcorsi">Corsi</a></li>
      <li class="active">${corso.nome_it}</li>
    </ol>

	 

<!--------Contenuto principale---------->
<div class="row">
    <div class="col-md-8">
        <main class="main">

            <input class="input" id="tab1" type="radio" name="tabs" checked>
            <label for="tab1">Knowledge</label>
              
            <input class="input" id="tab2" type="radio" name="tabs">
            <label for="tab2">Application</label>
              
            <input class="input" id="tab3" type="radio" name="tabs">
            <label for="tab3">Evaluation</label>
              
            <input class="input" id="tab4" type="radio" name="tabs">
            <label for="tab4">Communication</label>
              
            <input class="input" id="tab5" type="radio" name="tabs">
            <label for="tab5">Lifelong</label>
            

            <section class="section" id="content1">
                <#-- ${dublino.Knowledge}-->
            </section>
              
            <section class="section" id="content2">
                <#--  ${dublino.Application}-->
            </section>
              
            <section class="section" id="content3">
                <#--  ${dublino.Evaluation}-->
            </section>
              
            <section class="section" id="content4">
                <#-- ${dublino.Communication}-->
            </section>
              
            <section class="section" id="content5">
                <#--  ${dublino.Lifelong} -->
            </section>
        
        </main>
    </div><!-- End col-md-8-->   	


<!-------Fine Contenuto principale---------->
  	                 

            <aside class="col-md-4"> <!--tabelle destra-->
            
            	<div class="box_style_1">
         			<h4>Lessons <span class="pull-right">17</span></h4>
         			<h4>Hours <span class="pull-right">12</span></h4>
                    <h4>Rates <span class="pull-right rating_2"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class=" icon-star-empty"></i><i class=" icon-star-empty"></i></span></h4>
                    <h4><a href="#">Download files <i class="icon-download pull-right"></i></a></h4><br>
                	<h4>Speakers</h4>
                    <div class="media">
                        <div class="pull-right">
                            <img src="img/avatar1.jpg" class="img-circle" alt="">
                        </div>
                        <div class="media-body">
                            <h5 class="media-heading"><a href="#">Marc Twain</a></h5>
                            <p>
                                Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. 
                            </p>
                        </div>
                    </div>
                    
                    <div class="media">
                        <div class="pull-right">
                            <img src="img/avatar1.jpg" class="img-circle" alt="">
                        </div>
                        <div class="media-body">
                            <h5 class="media-heading"><a href="#">Marc Twain</a></h5>
                            <p>
                                Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in.
                            </p>
                        </div>
                    </div>
           </div>
           
            <div class="box_style_1">
                    <h4>Legend</h4>
                    <ul class="legend_course">
                          <li id="tostart">Still to start</li>
                          <li id="inprogress">In progress</li>
                          <li id="completed">Completed</li>
                     </ul>
           </div>
       	 	
           
           <div class="box_style_1">
                    <h4>Related content</h4>
                    <ul class="list_1">
                          <li><a href="#">Ceteros mediocritatem</a></li>
                          <li><a href="#">Labore nostrum</a></li>
                          <li><a href="#">Primis bonorum</a></li>
                          <li><a href="#">Ceteros mediocritatem</a></li>
                     </ul>
           </div>
         </aside> <!-- End col-md-4 -->
     	
     </div><!-- End row -->
  </div><!-- End container -->
  </section>

