<section id="wizard_bg">

	<div class="container">


		<!-- Start Survey container -->
		<div id="survey_container">


			<div id="top-wizard">
				<strong>Progress</strong>
				<div id="progressbar"></div>
				<div class="shadow"></div>
			</div>
			<!-- end top-wizard -->

			<form name="example-1" id="wrapped" action="CreateCorsoD" method="post" autocomplete="off">
				<div id="middle-wizard">

					<div class="step">
						<div class="row">
							<h3 class="col-md-10">
								Corso di ${corso.nome_it} (${docente.nome} ${docente.cognome})
							</h3>


							<p class="col-md-12">Prego inserisca le informazioni del suo corso</p>
							<div class="col-md-6">
								<ul class="data-list">
									<input type="hidden" value="${corso.ID}" />
									<li>
										<h5>Nome corso IT</h5>
										<div class="form-group">
											<input type="text" name="nomeit" class="required form-control" value="${corso.nome_it}">
											<span class="input-icon">
												<i class="icon-user"></i>
											</span>
										</div>
									</li>
									<li>
										<h5>Nome corso EN</h5>
										<div class="form-group">
											<input type="text" name="nomeen" class="required form-control" value="${corso.nome_en}">
											<span class="input-icon">
												<i class="icon-user"></i>
											</span>
										</div>
									</li>
									<li>
										<h5>SSD</h5>
										<div class="form-group">
											<input type="text" name="ssd" class="required form-control" value="${corso.SSD}">
											<span class="input-icon">
												<i class=""></i>
											</span>
										</div>
									</li>
								</ul>
							</div>
							<!-- end col-md-6 -->

							<div class="col-md-6">

								<ul class="data-list" style="margin:0; padding:0;">
									<li>
										<h5>Lingua</h5>
										<div class="form-group">
											<input type="text" name="lingua" class="required form-control" value="${corso.lingua}">
											<span class="input-icon">
												<i class=""></i>
											</span>
										</div>
									</li>
									<li>
										<h5>Semestre corso</h5>
										<div class="styled-select">
											<select class="required form-control" name="semestre">
												<#if corso.semestre==1>
													<option value="1" selected>Primo Semestre</option>
													<option value="2">Secondo Semestre</option>
													<#elseif corso.semestre==2>
														<option value="1">Primo Semestre</option>
														<option value="2" selected>Secondo Semestre</option>
														<#else>
															<option value="" selected>Seleziona semestre corso...</option>
															<option value="1">Primo Semestre</option>
															<option value="2" selected>Secondo Semestre</option>
												</#if>
											</select>
										</div>
									</li>
								</ul>



								<h5>CFU del Corso</h5>
								<div class="form-group">
									<input type="number" class="required form-control style_2" value="${corso.cfu}" name="cfu" min=1>
									<span class="input-icon">
										<i class="#"></i>
									</span>



								</div>
								<!-- end col-md-6 -->
							</div>
							<!-- end row -->

							<div class="row">
								<div class="col-md-6 col-sm-6">
									<h5>Tipologia Dei Crediti</h5>
									<div class="form-group">
										<div class="styled-select">
											<select class="required form-control" name="tipologia">
												<#if corso.tipologia=='A'>
													<option value="A" selected>A</option>
													<option value="B">B</option>
													<#elseif corso.tipologia=='B'>
														<option value="A">A</option>
														<option value="B" selected>B</option>
														<#else>
															<option value="n" selected>Seleziona tipologia cfu...</option>
															<option value="A">A</option>
															<option value="B">B</option>
												</#if>
											</select>
										</div>
									</div>
								</div>

							</div>


							<hr>

							<input type='hidden' name='key' value='${corso.ID}'>


						</div>
					</div>
					<!-- end step-->


					<div class="step row">

						<div class="col-md-12" id="centro">
							<h3>Inserisci informazioni supplementari sul corso</h3>
							<h4>Descrizione del corso</h4>
							<div class="row">
								<div class="col-md-12 col-sm-12">
									<h5>Prerequisiti Del Corso</h5>
									<div class="form-group">
										<div class="form-group">
											<textarea rows="5" name="prerequisiti" class="tinymce2">${descrizioneit.prerequisiti}</textarea>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 col-sm-12">
									<h5>Obiettivi Del Corso</h5>
									<div class="form-group">
										<textarea rows="5" name="obiettivi" class="tinymce2">${descrizioneit.obiettivi}</textarea>
									</div>
								</div>
							</div>




							<div class="row">
								<div class="col-md-12 col-sm-12">
									<h5>Modalit&#224 D'Esame Del Corso</h5>
									<div class="form-group">
										<textarea rows="5" name="modesa" class="tinymce2">${descrizioneit.mod_Esame}</textarea>

									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 col-sm-12">
									<h5>Modalit&#224 Di Insegnamento Del Corso</h5>
									<div class="form-group">
										<textarea rows="5" name="modins" class="tinymce2">${descrizioneit.mod_Insegnamento}</textarea>

									</div>
								</div>
							</div>




							<div class="row">
								<div class="col-md-6 col-sm-6">
									<h5>Sillabo</h5>
									<div class="form-group">
										<textarea rows="5" name="sillabo" class="tinymce2">${descrizioneit.sillabo}</textarea>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 col-sm-6">
									<h5>Note extra</h5>
									<div class="form-group">
										<textarea rows="5" name="note" class="tinymce2">${descrizioneit.note}</textarea>
									</div>
								</div>
							</div>

							<div class="row">
								<div>
									<h4>Link esterni</h4>
								</div>
								<div class="col-md-4 col-sm-4">
									<h5>Homepage</h5>
									<div class="form-group">
										<input type="text" class="form-control style_2" placeholder="Link Homepage" value="${descrizioneit.homepage}" name="homepage">
										<span class="input-icon">
											<i class="#"></i>
										</span>
									</div>
								</div>
								<div class="col-md-4 col-sm-4">
									<h5>Forum</h5>
									<div class="form-group">
										<input type="text" class="form-control style_2" placeholder="Link Forum" value="${descrizioneit.forum}" name="forum">
										<span class="input-icon">
											<i class="#"></i>
										</span>
									</div>
								</div>

								<div class="col-md-4 col-sm-4">
									<h5>Risorse esterne</h5>
									<div class="form-group">
										<input type="text" class="form-control style_2" placeholder="Link Risorse esterne" value="${descrizioneit.risorse_Ext}" name="risorse">
										<span class="input-icon">
											<i class="#"></i>
										</span>
									</div>
								</div>
							</div>

						</div>

					</div>



					<div class="step row">
						<div class="col-md-12">

							<h3>Inserisci informazioni supplementari sul corso EN</h3>
							<div class="row">
								<div class="col-md-12 col-sm-12">
									<h5>Prerequisiti Del Corso EN</h5>
									<div class="form-group">
										<div class="form-group">
											<textarea rows="5" name="prerequisitien" class="tinymce2">${descrizioneen.prerequisiti}</textarea>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 col-sm-12">
									<h5>Obiettivi Del Corso EN</h5>
									<div class="form-group">
										<textarea rows="5" name="obiettivien" class="tinymce2">${descrizioneen.obiettivi}</textarea>
									</div>
								</div>
							</div>




							<div class="row">
								<div class="col-md-12 col-sm-12">
									<h5>Modalit&#224 D'Esame Del Corso EN</h5>
									<div class="form-group">
										<textarea rows="5" name="modesaen" class="tinymce2">${descrizioneen.modesame}</textarea>

									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 col-sm-12">
									<h5>Modalit&#224 Di Insegnamento Del Corso EN</h5>
									<div class="form-group">
										<textarea rows="5" name="modinsen" class="tinymce2">${descrizioneen.modinsegnamento}</textarea>

									</div>
								</div>
							</div>




							<div class="row">
								<div class="col-md-6 col-sm-6">
									<h5>Sillabo EN</h5>
									<div class="form-group">
										<textarea rows="5" name="Sillaboen" class="tinymce2">${descrizioneen.sillabo}</textarea>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 col-sm-6">
									<h5>Note extra EN</h5>
									<div class="form-group">
										<textarea rows="5" name="Noteextraen" class="tinymce2">${descrizioneen.note}</textarea>
									</div>
								</div>
							</div>

						</div>
					</div>









					<div class="step row">
						<div class="col-md-12">
							<h3>Inserisci i descrittori di dublino</h3>
							div class="form-group">
							<h5>Application</h5>
							<div class="form-group">
								<textarea rows="5" name="Knowledge" class="tinymce2">${dublinoit.knowledge}</textarea>
							</div>
							<div class="row">
								<div class="col-md-6 col-sm-6">
									<h5>Application</h5>
									<div class="form-group">
										<textarea rows="5" name="Application" class="tinymce2">${dublinoit.application}</textarea>
									</div>
								</div>
							</div>



							<div class="row">
								<div class="col-md-6 col-sm-6">
									<h5>Evaluation</h5>
									<div class="form-group">
										<textarea rows="5" name="evaluation" class="tinymce2">${dublinoit.evaluation}</textarea>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 col-sm-6">
									<h5>Communication</h5>
									<div class="form-group">
										<textarea rows="5" name="communication" class="tinymce2">${dublinoit.communication}</textarea>
									</div>
								</div>
							</div>


							<div class="row">
								<div class="col-md-6 col-sm-6">
									<h5>Lifelong</h5>
									<div class="form-group">
										<textarea rows="5" name="lifelong" class="tinymce2">${dublinoit.lifelong}</textarea>
									</div>
								</div>
							</div>
						</div>
					</div>


					<div class="step row">
						<div class="col-md-12">
							<h3>Inserisci i descrittori di dublino EN</h3>
							<h5>Knowledge EN</h5>
							<div class="form-group">
								<textarea rows="5" name="knowledgeen" class="tinymce2">${dublinoen.knowledge}</textarea>
							</div>
							<div class="row">
								<div class="col-md-6 col-sm-6">
									<h5>Application EN</h5>
									<div class="form-group">
										<textarea rows="5" name="applicationen" class="tinymce2">${dublinoen.knowledge}</textarea>
									</div>
								</div>
							</div>



							<div class="row">
								<div class="col-md-6 col-sm-6">
									<h5>Evaluation EN</h5>
									<div class="form-group">
										<textarea rows="5" name="evaluationen" class="tinymce2">${dublinoen.knowledge}</textarea>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 col-sm-6">
									<h5>Communication EN</h5>
									<div class="form-group">
										<textarea rows="5" name="communicationen" class="tinymce2">${dublinoen.knowledge}</textarea>
									</div>
								</div>
							</div>


							<div class="row">
								<div class="col-md-6 col-sm-6">
									<h5>Lifelong EN</h5>
									<div class="form-group">
										<textarea rows="5" name="lifelongen" class="tinymce2">${dublinoen.lifelong}</textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- end step -->




					<div class="submit step" id="complete">
						<i class="icon-check"></i>
						<h3>Abbiamo concluso</h3>
						<button type="submit" name="process" class="submit">Completi la registrazione del suo corso</button>
					</div>
					<!-- end submit step -->

				</div>
				<!-- end middle-wizard -->

				<div id="bottom-wizard">
					<button type="button" name="backward" class="backward">Indietro</button>
					<button type="button" name="forward" class="forward">Avanti</button>
				</div>
				<!-- end bottom-wizard -->
			</form>

		</div>
		<!-- end Survey container -->

	</div>
</section>
<!-- end section main container -->

<!-- pattern="[A-Za-z]+[0-9]*+[A-Za-z]*" title="Primo carattere lettera[a-z]-->