<section id="sub-header">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <h1>Backoffice</h1>
                <p class="lead"></p>
            </div>
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
    <div class="divider_top"></div>
</section>
<!-- End sub-header -->

<section id="main_content">
    <div class="container">
        <ol class="breadcrumb">
            <li>
                <a href="Backoffice">Backoffice</a>
            </li>
            <li class="active">
                <a href="CreateCorso">Creazione Corso</a>
            </li>
        </ol>


        <div class="row">
            <aside class="col-md-4">
                <div class="box_style_1 profile">
                    <h4>Funzioni creazione</h4>

                    <ul>
                        <li>
                            <a href="CreateCDL">Crea un nuovo corso di laurea</a>

                        </li>
                        <li>
                            <a href="CreateCorso">Crea nuovo corso</a>

                        </li>
                        <li>
                            <a href="RegisterDocente">Registra nuovo docente</a>

                        </li>
                    </ul>

                    <h4>Funzioni modifica</h4>
                    <ul>
                        <li>
                            <a href="Corsianno">Modifica corsi</a>
                        </li>
                        <li>
                            <a href="ModificaCDL">Modifica Cdl</a>
                        </li>
                        <li>
                            <a href="ModificaDocente">Modifica Docente</a>
                        </li>
                    </ul>
                </div>

            </aside>


            <div class="col-md-8 box_style_2">
                <span class="tape"></span>
                <div class="row">
                    <div class="col-md-12">
                        <h4>Crea un nuovo corso</h4>
                    </div>
                </div>
                <div id="message-apply"></div>
                <form method="post" action="CreateCorso">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <h5>Nome Del Corso</h5>
                            <div class="form-group">
                                <input type="text" class="form-control style_2" placeholder="Nome Corso" name="nome" autofocus required>
                                <span class="input-icon">
                                    <i class="#"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <h5>Nome Del Corso EN - Optional</h5>
                            <div class="form-group">
                                <input type="text" class="form-control style_2" placeholder="Nome Corso EN" name="nome_en">
                                <span class="input-icon">
                                    <i class="#"></i>
                                </span>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <h5>SSD - Optional</h5>
                            <div class="form-group">
                                <input type="text" class="form-control style_2" placeholder="SSD" name="ssd">
                                <span class="input-icon">
                                    <i class="#"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <h5>Lingua - Optional</h5>
                            <div class="form-group">
                                <input type="text" class="form-control style_2" placeholder="Lingua" name="linguac">
                                <span class="input-icon">
                                    <i class="#"></i>
                                </span>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <h5>Semestre - Optional</h5>
                            <div class="form-group">
                                <div class="styled-select">
                                    <select class="form-control" name="semestre">
                                        <option value="" selected>Seleziona semestre corso...</option>
                                        <option value="1">Primo Semestre</option>
                                        <option value="2">Secondo Semestre</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <h5>CFU Del Corso - Optional</h5>
                            <div class="form-group">
                                <input type="number" class="form-control style_2" placeholder="CFU" name="cfu" min=1>
                                <span class="input-icon">
                                    <i class="#"></i>
                                </span>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <h5>Tipologia CFU - Optional</h5>
                            <div class="form-group">
                                <div class="styled-select">
                                    <select class="form-control" name="tipologia">
                                        <option value="n" selected>Seleziona tipologia cfu...</option>
                                        <option value="A">A</option>
                                        <option value="B">B</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>

                    <hr>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div>
                                <h4>Associa i docenti al corso</h4>
                                <div>
                                    <select id="special1" name="docenti" class="required" multiple>
                                        <#list docenti?sort_by( "nome") as docente>
                                            <option value="${docente.IDDocente}">${docente.nome} ${docente.cognome}</option>
                                        </#list>

                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <div>
                                <h4>Associa i cdl al corso</h4>
                                <div>

                                    <select id="special2" name="cdl" class="required" onchange="CheckSelect(document.getElementsByName('cdl')[0])" required multiple>
                                        <#list cdl?sort_by( "nome_it") as cdl>
                                            <option value="${cdl.IDCDL}">${cdl.nome_it}</option>
                                        </#list>

                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div>
                                <h4>Corsi mutuati</h4>
                                <div>
                                    <select id="special-cazzafà" name="mutuati" multiple>
                                        <#list corsi as corsi>
                                            <option value="${corsi.ID}">${corsi.nome_it}</option>
                                        </#list>

                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div>
                                <h4>Corsi Propedeudici</h4>
                                <div class="cacca">
                                    <select class="chzn-select" name="propedeudici" id="special-cazzafò" multiple>


                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div>
                                <h4>Corsi Modulo</h4>
                                <div class="cacca">
                                    <select class="chzn-select" name="modulo" id="special-cazzafò" multiple>


                                    </select>
                                </div>
                            </div>
                        </div>


                    </div>
                    <hr>




                    <div class="row">
                        <!--IT DESCRIZIONE-->

                        <div class="panel-group" id="accordion">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1">Informazioni supplementari corso - Optional
                                            <i class="indicator icon-plus pull-right"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <h4>Descrizione del corso</h4>
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                <h5>Prerequisiti Del Corso</h5>
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <textarea rows="5" name="prerequisiti" class="tinymce1"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                <h5>Obiettivi Del Corso</h5>
                                                <div class="form-group">
                                                    <textarea rows="5" name="obiettivi" class="tinymce1"></textarea>
                                                </div>
                                            </div>
                                        </div>




                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                <h5>Modalit&#224 D'Esame Del Corso</h5>
                                                <div class="form-group">
                                                    <textarea rows="5" name="modesa" class="tinymce1"></textarea>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                <h5>Modalit&#224 Di Insegnamento Del Corso</h5>
                                                <div class="form-group">
                                                    <textarea rows="5" name="modins" class="tinymce1"></textarea>

                                                </div>
                                            </div>
                                        </div>




                                        <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                                <h5>Sillabo</h5>
                                                <div class="form-group">
                                                    <textarea rows="5" name="sillabo" class="tinymce1"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                                <h5>Note extra</h5>
                                                <div class="form-group">
                                                    <textarea rows="5" name="note" class="tinymce1"></textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div>
                                                <h4>Link esterni</h4>
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <h5>Homepage</h5>
                                                <div class="form-group">
                                                    <input type="text" class="form-control style_2" placeholder="Link Homepage" name="homepage">
                                                    <span class="input-icon">
                                                        <i class="#"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <h5>Forum</h5>
                                                <div class="form-group">
                                                    <input type="text" class="form-control style_2" placeholder="Link Forum" name="forum">
                                                    <span class="input-icon">
                                                        <i class="#"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <h5>Risorse esterne</h5>
                                                <div class="form-group">
                                                    <input type="text" class="form-control style_2" placeholder="Link Risorse esterne" name="risorse">
                                                    <span class="input-icon">
                                                        <i class="#"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="row">
                        <!--EN DESCRIZIONE-->

                        <div class="panel-group" id="accordion">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse2">Informazioni supplementari corso (EN Version) - Optional
                                            <i class="indicator icon-plus pull-right"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <h4>Descrizione del corso EN</h4>
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                <h5>Prerequisiti Del Corso EN</h5>
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <textarea rows="5" name="prerequisitien" class="tinymce1"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                <h5>Obiettivi Del Corso EN</h5>
                                                <div class="form-group">
                                                    <textarea rows="5" name="obiettivien" class="tinymce1"></textarea>
                                                </div>
                                            </div>
                                        </div>




                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                <h5>Modalit&#224 D'Esame Del Corso EN</h5>
                                                <div class="form-group">
                                                    <textarea rows="5" name="modesaen" class="tinymce1"></textarea>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                <h5>Modalit&#224 Di Insegnamento Del Corso EN</h5>
                                                <div class="form-group">
                                                    <textarea rows="5" name="modinsen" class="tinymce1"></textarea>

                                                </div>
                                            </div>
                                        </div>




                                        <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                                <h5>Sillabo EN</h5>
                                                <div class="form-group">
                                                    <textarea rows="5" name="sillaboen" class="tinymce1"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                                <h5>Note extra EN</h5>
                                                <div class="form-group">
                                                    <textarea rows="5" name="noteen" class="tinymce1"></textarea>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>




                    <div class="row">
                        <!--SILLABO IT-->

                        <div class="panel-group" id="accordion">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse4">Sillabo - Optional
                                            <i class="indicator icon-plus pull-right"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse4" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <h4></h4>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                                <h5>Knowledge</h5>
                                                <div class="form-group">
                                                    <textarea rows="5" name="knowledge" class="tinymce1"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                                <h5>Application</h5>
                                                <div class="form-group">
                                                    <textarea rows="5" name="application" class="tinymce1"></textarea>
                                                </div>
                                            </div>
                                        </div>



                                        <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                                <h5>Evaluation</h5>
                                                <div class="form-group">
                                                    <textarea rows="5" name="evaluation" class="tinymce1"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                                <h5>Communication</h5>
                                                <div class="form-group">
                                                    <textarea rows="5" name="communication" class="tinymce1"></textarea>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                                <h5>Lifelong</h5>
                                                <div class="form-group">
                                                    <textarea rows="5" name="lifelong" class="tinymce1"></textarea>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>



                    <div class="row">
                        <!--SILLABO EN-->

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse5">Sillabo EN - Optional
                                        <i class="indicator icon-plus pull-right"></i>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse5" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <h4></h4>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <h5>Knowledge EN</h5>
                                            <div class="form-group">
                                                <textarea rows="5" name="knowledgeen" class="tinymce1"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <h5>Application EN</h5>
                                            <div class="form-group">
                                                <textarea rows="5" name="applicationen" class="tinymce1"></textarea>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <h5>Evaluation EN</h5>
                                            <div class="form-group">
                                                <textarea rows="5" name="evaluationen" class="tinymce1"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <h5>Communication EN</h5>
                                            <div class="form-group">
                                                <textarea rows="5" name="communicationen" class="tinymce1"></textarea>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <h5>Lifelong EN</h5>
                                            <div class="form-group">
                                                <textarea rows="5" name="lifelongen" class="tinymce1"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>

                    <hr>

                    <div class="row">
                        <!--LIBRI-->

                        <div class="panel-group" id="accordion">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse3">Libri consigliati - Optional
                                            <i class="indicator icon-plus pull-right"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse3" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <h4>Indicazioni libri</h4>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                                <h5>Autore</h5>
                                                <div class="form-group">
                                                    <input type="text" class="form-control style_2" placeholder="Autore" name="autore">
                                                    <span class="input-icon">
                                                        <i class="#"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <h5>Titolo libro</h5>
                                                <div class="form-group">
                                                    <input type="text" class="form-control style_2" placeholder="Titolo" name="titolo">
                                                    <span class="input-icon">
                                                        <i class="#"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>



                                        <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                                <h5>Volume libro</h5>
                                                <div class="form-group">
                                                    <input type="number" class="form-control style_2" placeholder="Volume" name="volume">
                                                    <span class="input-icon">
                                                        <i class="#"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <h5>Anno pubblicazione</h5>
                                                <div class="form-group">
                                                    <input type="text" class="form-control style_2" placeholder="Anno" name="anno">
                                                    <span class="input-icon">
                                                        <i class="#"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>



                                        <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                                <h5>Editore</h5>
                                                <div class="form-group">
                                                    <input type="text" class="form-control style_2" placeholder="Editore" name="editore">
                                                    <span class="input-icon">
                                                        <i class="#"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <h5>Link</h5>
                                                <div class="form-group">
                                                    <input type="text" class="form-control style_2" placeholder="Link" name="link">
                                                    <span class="input-icon">
                                                        <i class="#"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>


                    <div class="row">
                        <!--Materiali-->

                        <div class="panel-group" id="accordion">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse7">Materiali - Optional
                                            <i class="indicator icon-plus pull-right"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse7" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        
                                            <h5>Upload materiale</h5>
                                            <div class="col-md-6">
                                            <input type="text" class="form-control style_2" placeholder="Nome materiale" name="nomem">
                                            </div>
                                            <div class="col-md-6">
                                            <input type="file" name="linkm" id="attento" multiple onchange="ValidateCurr(this)" />
                                        </div>
                                        




                                        <div class="col-md-12">
                                            <h5>Descrizione materiale IT</h5>
                                            <textarea rows="5" name="descrizioneitm" class="tinymce1"></textarea>
                                            <h5>Descrizione materiale EN</h5>
                                            <textarea rows="5" name="descrizioneenm" class="tinymce1"></textarea>

                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>



                    <hr>

                    <input type="submit" name="crea" value="Crea Corso" class="button_subscribe_green" id="submit-apply">

                </form>





            </div>
        </div>
        <!-- End row-->
    </div>
    <!-- End container -->
</section>
<!-- End main_content-->

<!-- pattern="[A-Za-z]+[0-9]*+[A-Za-z]*" title="Primo carattere lettera[a-z]-->