<section id="sub-header">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <h1>Backoffice</h1>
                <p class="lead"></p>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
    <div class="divider_top"></div>
    </section><!-- End sub-header -->
    
<section id="main_content">
    <div class="container">
            <ol class="breadcrumb">
                    <li ><a href="Backoffice">Backoffice</a></li>
                    <li class="active"><a href="CreateCorso">Creazione Corso</a></li>
                  </ol>




                 
        <div class="row">
                <aside class="col-md-4">
                        <div class="box_style_1 profile">
                                 <h4>Funzioni</h4>
                                    <ul>
                                    <li><a href="CreateCorso">Crea nuovo corso</a></strong></li>
                                    <li><a href="RegisterDocente">Registra nuovo docente</a></strong></li>
                                    </ul>
                        </div>
                </aside>

                <div class="col-md-8 box_style_2">
                    <span class="tape"></span>
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Crea un nuovo corso</h4>
                        </div>
                    </div>
                    <div id="message-apply"></div>
                    <form method="post" action="CreateCorso" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control style_2" placeholder="Nome corso" name="nome" required>
                                    <span class="input-icon">
                                        <i class="#"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                        <input type="text" class="form-control style_2" placeholder="Nome Corso EN" name="cognome" required>
                                        <span class="input-icon">
                                        <i class="#"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        


                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control style_2" placeholder="SSD" name="ssd" required>
                                    <span class="input-icon">
                                        <i class="#"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                        <input type="text" class="form-control style_2" placeholder="Lingua" name="lingua" required>
                                        <span class="input-icon">
                                        <i class="#"></i>
                                    </span>
                                </div>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control style_2" placeholder="Semestre" name="semestre" required>
                                    <span class="input-icon">
                                        <i class="#"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                        <input type="text" class="form-control style_2" placeholder="Cfu" name="cfu" required>
                                        <span class="input-icon">
                                        <i class="#"></i>
                                    </span>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control style_2" placeholder="Tipologia" name="tipologia" required>
                                    <span class="input-icon">
                                        <i class="#"></i>
                                    </span>
                                </div>
                            </div>
                            
                        </div>
    
                        <hr>
                        <div class="row">
                                <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <h4>Associa un docente al corso</h4>
                                            <div class="styled-select">
                                                    <select class="form-control" name="docente_id" required>
                                                <#list docenti as docente>
                                                <option value="${docente.IDDocente}">${docente.nome} ${docente.cognome}</option>
                                                </#list> 

                                            </select>
                                            </div>
                                        </div>
                                </div>
                        </div>
                        <hr>




                        <input type="submit" name="registra" value="Crea Corso" class=" button_subscribe_green" id="submit-apply">
    
                    </form>



                        
                                
                             
                              
                </div>
        </div><!-- End row-->   
    </div><!-- End container -->
</section><!-- End main_content-->