<section id="wizard_bg">

	<div class="container">


		<!-- Start Survey container -->
		<div id="survey_container">


			<div id="top-wizard">
				<strong>Progress</strong>
				<div id="progressbar"></div>
				<div class="shadow"></div>
			</div>
			<!-- end top-wizard -->

			<form name="example-1" id="wrapped" action="CreateCorsoD" method="post" autocomplete="off">
				<div id="middle-wizard">

					<div class="step">
						<div class="row">
							<h3 class="col-md-10">
								Corso di ${corso.nome_it} (${docente.nome} ${docente.cognome})
							</h3>


							<p class="col-md-12">Prego inserisca le informazioni del suo corso</p>
							<div class="col-md-6">
								<ul class="data-list">
									<input type="hidden" value="${corso.ID}" />
									<li>
										<h5>Nome corso IT</h5>
										<div class="form-group">
											<input type="text" name="nomeit" class="required form-control" value="${corso.nome_it}">
											<span class="input-icon">
												<i class="icon-user"></i>
											</span>
										</div>
									</li>
									<li>
											<h5>Nome corso EN</h5>
										<div class="form-group">
											<input type="text" name="nomeen" class="required form-control" value="${corso.nome_en}">
											<span class="input-icon">
												<i class="icon-user"></i>
											</span>
										</div>
									</li>
									<li>
										<h5>SSD</h5>
										<div class="form-group">
											<input type="text" name="ssd" class="required form-control" value="${corso.SSD}">
											<span class="input-icon">
												<i class=""></i>
											</span>
										</div>
									</li>
								</ul>
							</div>
							<!-- end col-md-6 -->

							<div class="col-md-6">

								<ul class="data-list" style="margin:0; padding:0;">
									<li>
										<h5>Lingua</h5>
										<div class="form-group">
											<input type="text" name="lingua" class="required form-control" value="${corso.lingua}">
											<span class="input-icon">
												<i class=""></i>
											</span>
										</div>
									</li>
									<li>
										<h5>Semestre corso</h5>
											<div class="styled-select">
													<select class="required form-control" name="semestre">
														<#if corso.semestre==1>
														<option value="1" selected>Primo Semestre</option>
														<option value="2">Secondo Semestre</option>
														<#elseif corso.semestre==2>
														<option value="1">Primo Semestre</option>
														<option value="2" selected>Secondo Semestre</option>
														<#else>
														<option value="" selected>Seleziona semestre corso...</option>
														<option value="1">Primo Semestre</option>
														<option value="2" selected>Secondo Semestre</option>
														</#if>
													</select>
												</div>
										</li>
								</ul>

								
									
                                    <h5>CFU del Corso</h5>
                                    <div class="form-group">
                                            <input type="number" class="required form-control style_2" value="${corso.cfu}" name="cfu" min=1>
                                            <span class="input-icon">
                                            <i class="#"></i>
                                        </span>
                                    
                                

							</div>
							<!-- end col-md-6 -->
						</div>
						<!-- end row -->

						<div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <h5>Tipologia Dei Crediti</h5>
                                    <div class="form-group">
                                            <div class="styled-select">
                                                    <select class="required form-control" name="tipologia">
                                                        <#if corso.tipologia=='A'>
                                                        <option value="A" selected>A</option>
                                                        <option value="B">B</option>
                                                        <#elseif corso.tipologia=='B'>
                                                        <option value="A">A</option>
                                                        <option value="B" selected>B</option>
                                                        <#else>
                                                        <option value="n" selected>Seleziona tipologia cfu...</option>
                                                        <option value="A">A</option>
                                                        <option value="B">B</option>
                                                        </#if>
                                                    </select>
                                                </div>
                                    </div>
                                </div>
                                
							</div>
							

							<hr>
    
                            <input type='hidden' name='key' value='${corso.ID}'>


						</div>
					</div>
					<!-- end step-->

				


					<div class="step row">
							<div class="col-md-12">
								<p>Inserisci informazioni supplementari sul corso</p>
								
								
							</div>
					</div>


					<div class="step row">
							<div class="col-md-12">
								<p>Inserisci informazioni supplementari sul corso EN</p>
								
								
							</div>
					</div>

					<div class="step row">
							<div class="col-md-12">
								<p>Inserisci i descrittori di dublino</p>
	
								
							</div>
						</div>


						<div class="step row">
								<div class="col-md-12">
									<p>Inserisci i descrittori di dublino EN</p>
		
									
								</div>
							</div>
						<!-- end step -->




					<div class="submit step" id="complete">
						<i class="icon-check"></i>
						<h3>Abbiamo concluso</h3>
						<button type="submit" name="process" class="submit">Completi la registrazione del suo corso</button>
					</div>
					<!-- end submit step -->

				</div>
				<!-- end middle-wizard -->

				<div id="bottom-wizard">
					<button type="button" name="backward" class="backward">Backward</button>
					<button type="button" name="forward" class="forward">Forward </button>
				</div>
				<!-- end bottom-wizard -->
			</form>

		</div>
		<!-- end Survey container -->

	</div>
</section>
<!-- end section main container -->