<section class="tp-banner-container">
    <div class="tp-banner" >
        <ul class="sliderwrapper"><!-- SLIDE  -->
            <li data-transition="fade" data-slotamount="4" data-masterspeed="1500" >
                <!-- MAIN IMAGE -->
                <img src="sliderimages/slide_5.jpg" alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption skewfromrightshort customout"
                    data-x="center"
                    data-y="center"
                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="500"
                    data-start="1200"
                    data-easing="Power4.easeOut"
                    data-endspeed="500"
                    data-endeasing="Power4.easeIn"
                    data-captionhidden="on"
                    style="z-index: 2"><img src="sliderimages/logo.png" alt="">
                </div>
                
                <!-- LAYER NR. 2 -->
                <div class="tp-caption medium_bg_darkblue skewfromleft customout"
                    data-x="left"
                    data-y="190"
                    data-hoffset="30"
                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="800"
                    data-start="1500"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on"
                    style="z-index: 6">PHP Working Subscription
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption medium_bg_darkblue skewfromleft customout"
                    data-x="left"
                    data-y="245"
                    data-hoffset="30"
                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="800"
                    data-start="1500"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on"
                    style="z-index: 6">PHP Working wizard
                </div>
                
                <!-- LAYER NR. 3 -->
                <div class="tp-caption medium_bg_darkblue skewfromleft customout"
                    data-x="left"
                    data-y="300"
                    data-hoffset="30"
                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="800"
                    data-start="1500"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on"
                    style="z-index: 6">PHP Working newsletter
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption medium_bg_darkblue skewfromright customout"
                    data-x="right"
                    data-y="190"
                    data-hoffset="-30"
                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="800"
                    data-start="1800"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on"
                    style="z-index: 8">Four Home pages
                </div>

                <!-- LAYER NR. 5 -->
                <div class="tp-caption medium_bg_darkblue skewfromright customout"
                    data-x="right"
                    data-y="245"
                    data-hoffset="-30"
                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="800"
                    data-start="1800"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on"
                    style="z-index: 8">Course timeline
                </div>
                
                <!-- LAYER NR. 3 -->
                <div class="tp-caption medium_bg_darkblue skewfromleft customout"
                    data-x="right"
                    data-y="300"
                    data-hoffset="-30"
                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="800"
                    data-start="1800"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on"
                    style="z-index: 6">20 HTML pages
                </div>
            </li>
            <!-- SLIDE  -->
            <li data-transition="zoomout" data-slotamount="4" data-masterspeed="1000" >
                <!-- MAIN IMAGE -->
                <img src="sliderimages/slide_6.jpg" alt="slidebg2"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption medium_light_white skewfromrightshort customout"
                    data-x="80"
                    data-y="96"
                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="500"
                    data-start="800"
                    data-easing="Back.easeOut"
                    data-endspeed="500"
                    data-endeasing="Power4.easeIn"
                    data-captionhidden="on"
                    style="z-index: 4">Enjoy
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption medium_thin_white skewfromleftshort customout"
                    data-x="235"
                    data-y="110"
                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="500"
                    data-start="900"
                    data-easing="Back.easeOut"
                    data-endspeed="500"
                    data-endeasing="Power4.easeIn"
                    data-captionhidden="on"
                    style="z-index: 5">&
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption large_bold_white skewfromleftshort customout"
                    data-x="80"
                    data-y="152"
                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="300"
                    data-start="1100"
                    data-easing="Back.easeOut"
                    data-endspeed="500"
                    data-endeasing="Power4.easeIn"
                    data-captionhidden="on"
                    style="z-index: 7">Share your skills
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption small_thin_white  customin customout"
                    data-x="80"
                    data-y="240"
                    data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="500"
                    data-start="1300"
                    data-easing="Power4.easeOut"
                    data-endspeed="500"
                    data-endeasing="Power4.easeIn"
                    data-captionhidden="on"
                    style="z-index: 8">Slider Revolution is the highly acclaimed<br/> slide-based displaying solution, thousands of<br/> businesses, theme developers and everyday<br/> people use and love!
                </div>
            </li>
            
            <!-- SLIDE  -->
            <li data-transition="cube-horizontal" data-slotamount="4" data-masterspeed="1000" >
                <!-- MAIN IMAGE -->
                <img src="sliderimages/slide_1.jpg" alt="slidebg3"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption medium_light_white skewfromrightshort customout"
                    data-x="80"
                    data-y="96"
                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="500"
                    data-start="800"
                    data-easing="Back.easeOut"
                    data-endspeed="500"
                    data-endeasing="Power4.easeIn"
                    data-captionhidden="on"
                    style="z-index: 4">Enjoy
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption medium_thin_white skewfromleftshort customout"
                    data-x="235"
                    data-y="110"
                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="500"
                    data-start="900"
                    data-easing="Back.easeOut"
                    data-endspeed="500"
                    data-endeasing="Power4.easeIn"
                    data-captionhidden="on"
                    style="z-index: 5">&
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption large_bold_white skewfromleftshort customout"
                    data-x="80"
                    data-y="152"
                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="300"
                    data-start="1100"
                    data-easing="Back.easeOut"
                    data-endspeed="500"
                    data-endeasing="Power4.easeIn"
                    data-captionhidden="on"
                    style="z-index: 7">Improve your skills
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption small_thin_white  customin customout"
                    data-x="80"
                    data-y="240"
                    data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="500"
                    data-start="1300"
                    data-easing="Power4.easeOut"
                    data-endspeed="500"
                    data-endeasing="Power4.easeIn"
                    data-captionhidden="on"
                    style="z-index: 8">Slider Revolution is the highly acclaimed<br/> slide-based displaying solution, thousands of<br/> businesses, theme developers and everyday<br/> people use and love!
                </div>
            </li>
            
             <!-- SLIDE  -->
            <li data-transition="zoomin" data-slotamount="4" data-masterspeed="1000" >
                <!-- MAIN IMAGE -->
                <img src="sliderimages/slide_7.jpg" alt="slidebg4"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                <!-- LAYERS -->

                <!-- LAYER NR. 10 -->
                <div class="tp-caption large_bold_white customin customout"
                    data-x="center" data-hoffset="0"
                    data-y="160"
                    data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="1000"
                    data-start="1700"
                    data-easing="Back.easeInOut"
                    data-endspeed="300"
                    style="z-index: 11">Single or multi course
                </div>

                <!-- LAYER NR. 11 -->
                <div class="tp-caption mediumlarge_light_white_center customin customout"
                    data-x="center" data-hoffset="0"
                    data-y="bottom" data-voffset="-150"
                    data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="1000"
                    data-start="1900"
                    data-easing="Back.easeInOut"
                    data-endspeed="300"
                    style="z-index: 12">Lorem ipsum dolor sit amet,<br/>
        civibus efficiantur in<br/>
        id tempor imperdiet deterruisse.
                </div>
            </li>
            
        </ul>
    </div>
</section><!-- End slider -->

<section id="main-features">
<div class="divider_top_black"></div>
<div class="container">
    <div class="row">
        <div class=" col-md-10 col-md-offset-1 text-center">
            <h2>Why Join Learn</h2>
            <p class="lead">
                Lorem ipsum dolor sit amet, ius minim gubergren ad. <br>
                At mei sumo sonet audiam, ad mutat elitr platonem vix. Ne nisl idque fierent vix. Ferri clitaponderum ne.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="feature">
                <i class="icon-trophy"></i>  <!--i class vedere nel jquery 2 per il centramento-->
                <h3>Expert teachers</h3>
                <p>
                    Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="feature">
                <i class=" icon-ok-4"></i>
                <h3>Trusted certifications</h3>
                <p>
                    Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="feature">
                <i class="icon-mic"></i>
                <h3>+500 Audio lessons</h3>
                <p>
                    Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="feature">
                <i class="icon-video"></i>
                <h3>+1.200 Video lessons</h3>
                <p>
                    Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.
                </p>
            </div>
        </div>
    </div><!-- End row -->
    </div><!-- End container-->
</section><!-- End main-features -->

<section id="main_content_gray">
    <div class="container">
        <div class="row">
        <div class="col-md-12 text-center">
            <h2>I Nostri Corsi di Laurea</h2>
            <p class="lead"> Esplora la nostra offerta formativa </p>
        </div>
    </div><!-- End row -->

    <#list cdl as cdl>
    <#noautoesc>
    <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="col-item">
                <div class="photo">
                    <a href="DetailsCorsoCdl?n=${cdl.IDCDL}&lin=it"><img src="${cdl.immagine}"/></a>
                    <div class="cat_row">${cdl.nome_it}<span class="pull-right"><i class="fas fa-university"></i></span></div>
                </div>
                <div class="info">
                    <div class="row">
                        <div class="course_info col-md-12 col-sm-12">
                            <h5></h5>
                            <p>${cdl.descrizione_it}</p>

                        <div class="price pull-right">${cdl.cfu} CFU</div>
                        </div>
                    </div>
                    <div class="separator clearfix">
                        <p class="btn-add"><a href="DetailsCorsoCdl?n=${cdl.IDCDL}&lin=it"><i class="icon-export-4"></i></a></p>
                    </div>
                </div>
            </div>
        </div>
    </#noautoesc>
    </#list>
    
         <a href="listcorsi?lin=it" class="button_medium_outline pull-right">Vedi tutti i corsi</a>


        </div>   <!--end container-->
    </section><!-- End section gray -->


    
    <section id="main_content">
    <div class="container">
    <div class="row add_bottom_30">
        <div class="col-md-12 text-center">
        <h2>Visita i nostri corsi Di laurea magistrali</h2>
        
        </div>
    </div>
    
    <#list cdlm as cdlm>
    <#noautoesc>
    <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="col-item">
                <div class="photo">
                    <a href="DetailsCorsoCdl?n=${cdlm.IDCDL}&lin=it"><img src="${cdlm.immagine}"/></a>
                    <div class="cat_row">${cdlm.nome_it}<span class="pull-right"><i class="fas fa-university"></i></span></div>
                </div>
                <div class="info">
                    <div class="row">
                        <div class="course_info col-md-12 col-sm-12">
                            <h5></h5>
                            <p>${cdlm.descrizione_it}</p>

                        <div class="price pull-right">${cdlm.cfu} CFU</div>
                        </div>
                    </div>
                    <div class="separator clearfix">
                        <p class="btn-add"><a href=""><i class="icon-export-4"></i></a></p>
                    </div>
                </div>
            </div>
        </div>
    </#noautoesc>
    </#list>
    
         <a href="listcorsi?lin=it" class="button_medium_outline pull-right">Vedi Tutti I Corsi</a>
 

        </div>   <!--end container-->
    <!-- End section white -->
       <hr>
            






<div class="container">
      <div class="row">
          <div class="col-md-3 col-sm-6">
            <h4><a href="listdocenti?lin=it">Docenti</a></h4>
            <p><img src="img/pic_1.jpg" alt="Pic" class="img-responsive"></p>
            <p>Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.</p> 
        </div>
        
        <div class="col-md-3 col-sm-6">
            <h4>Classi</h4>
            <p><img src="img/pic_2.jpg" alt="Pic" class="img-responsive"></p>
            <p>Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.</p> 
        </div>
        
        <div class="col-md-3 col-sm-6">
            <h4>Aule studio</h4>
            <p><img src="img/pic_3.jpg" alt="Pic" class="img-responsive"></p>
            <p>Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.</p> 
        </div>
        
        <div class="col-md-3 col-sm-6">
            <h4>Link rapidi</h4>
            <ul class="list_1">
                  <li><a href="Home?lin=it">Homepage</a></li>
                  <li><a href="listcorsi?lin=it">Corsi</a></li>
                  <li><a href="listdocenti?lin=it">Docenti</a></li>
             </ul>
        </div>
        
    </div><!-- End row -->
    
    <hr class="add_bottom_30">
    <div class="row">
        <div class="col-md-12">
            <p><img src="img/sponsors.jpg" alt="Pic" class="img-responsive"></p>
       </div>
    </div>
    </div><!-- End container -->
</section><!-- End main_content -->

<section id="testimonials">
    <div class="container">
        <div class="row">
            <div class='col-md-offset-2 col-md-8 text-center'>
                <h2>What they say</h2>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-offset-2 col-md-8'>
                <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                    <!-- Bottom Carousel Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#quote-carousel" data-slide-to="1"></li>
                        <li data-target="#quote-carousel" data-slide-to="2"></li>
                    </ol>
                    <!-- Carousel Slides / Quotes -->
                    <div class="carousel-inner">
                        <!-- Quote 1 -->
                        <div class="item active">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-3 text-center">
                                        <img class="img-circle" src="img/testimonial_1.jpg" alt="">
                                    </div>
                                    <div class="col-sm-9">
                                        <p>
                                            Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!
                                        </p>
                                        <small>Someone famous</small>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        <!-- Quote 2 -->
                        <div class="item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-3 text-center">
                                        <img class="img-circle" src="img/testimonial_2.jpg" alt="">
                                    </div>
                                    <div class="col-sm-9">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor nec lacus ut tempor. Mauris.
                                        </p>
                                        <small>Someone famous</small>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        <!-- Quote 3 -->
                        <div class="item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-3 text-center">
                                        <img class="img-circle" src="img/testimonial_1.jpg" alt="">
                                    </div>
                                    <div class="col-sm-9">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget pretium nisl accumsan. Sed ultricies commodo tortor, eu pretium mauris.
                                        </p>
                                        <small>Someone famous</small>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </section><!-- End testimonials -->