<section id="sub-header">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <h1>Backoffice</h1>
                    <p class="lead"></p>
                </div>
            </div>
            <!-- End row -->
        </div>
        <!-- End container -->
        <div class="divider_top"></div>
    </section>
    <!-- End sub-header -->
    
    <section id="main_content">
        <div class="container">
            <ol class="breadcrumb">
                <li>
                    <a href="Backoffice">Backoffice</a>
                </li>
                <li class="active">
                    <a href="CreateCorso">Creazione Corso</a>
                </li>
            </ol>
    
    
            <div class="row">
                    <aside class="col-md-4">
                            <div class="box_style_1 profile">
                                <h4>Funzioni creazione</h4>
            
                                <ul>
                                    <li><a href="CreateCDL">Crea Un Nuovo Cdl</a></li>
                                    <li><a href="CreateCorso">Crea Nuovo Corso</a></li>
                                    <li><a href="RegisterDocente">Registra Nuovo Docente</a></li>
                                    <li><a href="MaterialeNew">Aggiungi Materiale</a></li>
                                    <li><a href="LibroNew">Aggiungi Libro</a></li>
                                </ul>
            
                                <h4>Funzioni modifica</h4>
                                <ul>
                                    <li><a href="Corsianno">Modifica corsi</a></li>
                                    <li><a href="ModificaCDL">Modifica Cdl</a></li>
                                    <li><a href="ModificaDocente">Modifica Docente</a></li>
                                </ul>
            
                                <h4>Funzioni Upload</h4>
                                <ul>
                                    <li><a href="MaterialeUp">Materiale gestione</a></li>
                                    <li><a href="LibroUp">Libri gestione</a></li>
                                </ul>
            
                            </div>
                        </aside>
                
    
    
            <div class="col-md-8">
                <h2 align="center">LOG</h2>
                <br>
                    <table class="table table-striped">
                            <thead>
                              <tr>
                                <th>Utente</th>
                                <th>Azione</th>
                                <th>Data</th>
                              </tr>
                            </thead>
                            <tbody>
                                <#list log as log>
                              <tr>
                                <td>${log.utente}</td>
                                <td>${log.descrizione}</td>
                                <td>${log.data}</td>
                              </tr>
                           </#list>
                            </tbody>
                          </table>
    
    
    
    
              </div>

            </div>
            <!-- End row-->
        </div>
        <!-- End container -->
    </section>
    <!-- End main_content-->