<!-- Section: home-boxes -->
<section>
    <div class="container pt-0 pb-0">
      <div class="section-content">
        <div class="row equal-height-inner home-boxes" data-margin-top="-100px">
          <div class="col-sm-12 col-md-3 pl-0 pl-sm-15 pr-0 pr-sm-15 sm-height-auto mt-sm-0 wow fadeInLeft animation-delay1">
            <div class="sm-height-auto" data-bg-color="#5D9CEC">
              <div class="features-box-colored text-center p-15 pt-30 pb-20">
                <i class="fa fa-graduation-cap font-54 mb-20 text-white"></i>
                <h4 class="text-uppercase font-weight-600 mt-0"><a href="page-donate.html" class="text-white">Popular Courses</a></h4>
                <p class="text-white">Lorem ipsum dolor sit amet, consectetur adpisici elit. Obcaec atdistinc tio quaerat iusto, accusa ntumeos nsect eturpers piciatis minima tempore!</p>
                <div class="shadow-icon"><i class="pe-7s-mail-open"></i></div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-3 pl-0 pl-sm-15 pr-0 pr-sm-15 sm-height-auto mt-sm-0 wow fadeInLeft animation-delay2">
            <div class="sm-height-auto" data-bg-color="#EF5861">
              <div class="features-box-colored text-center p-15 pt-30 pb-20">
                <i class="fa fa-book font-54 mb-20 text-white"></i>
                <h4 class="text-uppercase font-weight-600 mt-0"><a href="page-donate.html" class="text-white">Modern Library</a></h4>
                <p class="text-white">Lorem ipsum dolor sit amet, consectetur adpisici elit. Obcaec atdistinc tio quaerat iusto, accusa ntumeos nsect eturpers piciatis minima tempore!</p>
                <div class="shadow-icon"><i class="pe-7s-mail-open"></i></div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-3 pl-0 pl-sm-15 pr-0 pr-sm-15 sm-height-auto mt-sm-0 wow fadeInLeft animation-delay3">
            <div class="sm-height-auto" data-bg-color="#E79800">
              <div class="features-box-colored text-center p-15 pt-30 pb-20">
                <i class="fa fa-user-o font-54 mb-20 text-white"></i>
                <h4 class="text-uppercase font-weight-600 mt-0"><a href="page-donate.html" class="text-white">Qualified Teachers</a></h4>
                <p class="text-white">Lorem ipsum dolor sit amet, consectetur adpisici elit. Obcaec atdistinc tio quaerat iusto, accusa ntumeos nsect eturpers piciatis minima tempore!</p>
                <div class="shadow-icon"><i class="pe-7s-mail-open"></i></div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-3 pl-0 pl-sm-15 pr-0 pr-sm-15 sm-height-auto mt-sm-0 wow fadeInLeft animation-delay4">
            <div class="sm-height-auto" data-bg-color="#43B14B">
              <div class="features-box-colored text-center p-15 pt-30 pb-20">
                <i class="fa fa-certificate font-54 mb-20 text-white"></i>
                <h4 class="text-uppercase font-weight-600 mt-0"><a href="page-donate.html" class="text-white">Certification</a></h4>
                <p class="text-white">Lorem ipsum dolor sit amet, consectetur adpisici elit. Obcaec atdistinc tio quaerat iusto, accusa ntumeos nsect eturpers piciatis minima tempore!</p>
                <div class="shadow-icon"><i class="pe-7s-mail-open"></i></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section About -->
  <section>
    <div class="container pt-50 pb-40">
      <div class="section-title">
        <div class="row">
          <div class="col-md-4">
            <h3 class="text-uppercase font-weight-600 mt-0">About <span class="text-theme-colored2">Learnpro</span></h3>
            <div class="double-line-bottom-theme-colored-2"></div>
            <p class="font-16 mt-20">Lorem ipsum dolor sit amet, consecte turadipie sicing elit. Quas voluptatem maiores eaques Quasvolu ptatem maiores</p>
            <ul class="list theme-colored2 angle-double-right">
              <li>We achieved most leading universtiy award 2017</li>
              <li>We always try to provide our best quality education</li>
              <li>Over 2000+ students has completed graduation</li>
              <li>Best online course provide university this year</li>
            </ul>
            <a href="#" class="btn btn-colored btn-theme-colored2 text-white btn-lg pl-40 pr-40 mt-10">Read More</a>
          </div>
          <div class="col-md-4">
            <h3 class="text-uppercase font-weight-600 mt-0 mt-sm-30">Video <span class="text-theme-colored2">Tour</span></h3>
            <div class="double-line-bottom-theme-colored-2"></div>
            <div class="box-hover-effect about-video">
              <div class="effect-wrapper">
                <div class="thumb">
                  <img class="img-fullwidth" src="images/about/video-thumb.jpg" alt="project">
                </div>
                <div class="video-button"></div>
                <a class="hover-link" data-lightbox-gallery="youtube-video" href="https://www.youtube.com/watch?v=F3QpgXBtDeo" title="Youtube Video">Youtube Video</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <h3 class="text-uppercase font-weight-600 mt-0 mt-sm-30">Upcoming <span class="text-theme-colored2">Events</span></h3>
            <div class="double-line-bottom-theme-colored-2"></div>
            <article>
              <div class="event-small media sm-maxwidth400 mt-0 mb-0 pt-0 pb-15">
                <div class="event-date text-center">
                  <ul class="text-white">
                    <li class="font-18 font-weight-700 border-bottom">28</li>
                    <li class="font-14 text-center text-uppercase mt-5">Feb</li>
                  </ul>
                </div>
                <div class="event-content pt-5">
                  <h5 class="media-heading font-16 font-weight-600 mb-5"><a href="#">Admission Fair Spring 2017</a></h5>
                  <span class="mr-10"><i class="fa fa-clock-o text-theme-colored2"></i> 5.00 pm - 7.30 pm</span>
                  <span> <i class="fa fa-map-marker text-theme-colored2"></i> 25 Newyork City.</span>
                </div>
              </div>
            </article>
            <article>
              <div class="event-small media sm-maxwidth400 mt-5 mb-0 pt-10 pb-15">
                <div class="event-date text-center">
                  <ul class="text-white">
                    <li class="font-18 font-weight-700 border-bottom">28</li>
                    <li class="font-14 text-center text-uppercase mt-5">Feb</li>
                  </ul>
                </div>
                <div class="event-content pt-5">
                  <h5 class="media-heading font-16 font-weight-600 mb-5"><a href="#">Learning Spoken English</a></h5>
                  <span class="mr-10"><i class="fa fa-clock-o text-theme-colored2"></i> 5.00 pm - 7.30 pm</span>
                  <span> <i class="fa fa-map-marker text-theme-colored2"></i> 25 Newyork City.</span>
                </div>
              </div>
            </article>
            <article>
              <div class="event-small media sm-maxwidth400 mt-5 mb-0 pt-10 pb-15">
                <div class="event-date text-center">
                  <ul class="text-white">
                    <li class="font-18 font-weight-700 border-bottom">28</li>
                    <li class="font-14 text-center text-uppercase mt-5">Feb</li>
                  </ul>
                </div>
                <div class="event-content pt-5">
                  <h5 class="media-heading font-16 font-weight-600 mb-5"><a href="#">Workshop Online Marketing</a></h5>
                  <span class="mr-10"><i class="fa fa-clock-o text-theme-colored2"></i> 5.00 pm - 7.30 pm</span>
                  <span> <i class="fa fa-map-marker text-theme-colored2"></i> 25 Newyork City.</span>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section: Courses -->
  <section id="courses" class="bg-silver-deep">
    <div class="container pb-40">
      <div class="section-title">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="text-uppercase title">Popular <span class="text-theme-colored2">Courses</span></h2>
            <div class="double-line-bottom-centered-theme-colored-2 mt-20"></div>              
            <p class="text-uppercase">Choose Your Desired Course</p>
          </div>
        </div>
      </div>
      <div class="row mtli-row-clearfix">
        <div class="owl-carousel-3col" data-nav="true">
          <div class="item">
            <div class="course-single-item bg-white border-1px clearfix mb-30">
              <div class="course-thumb">
                <img class="img-fullwidth" alt="" src="images/course/sm1.jpg">
                <div class="price-tag">$290</div>
              </div>
              <div class="course-details clearfix p-20 pt-15">
                <div class="course-top-part pull-left mr-40">
                  <a href="page-course-details.html"><h4 class="mt-0 mb-5">Nural Networking Course</h4></a>
                  <ul class="list-inline">
                    <li class="review-stars">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </li>
                    <li>25 <i class="fa fa-comments-o text-theme-colored2"></i></li>
                    <li>68 <i class="fa fa-thumbs-o-up text-theme-colored2"></i></li>
                  </ul>
                </div>
                <div class="author-thumb">
                  <img src="images/course/xs1.jpg" alt="" class="img-circle">
                </div>
                <div class="clearfix"></div>
                <p class="course-description mt-20">Lorem ipsum dolor sit amet, consec teturadipsi cing elit. Nobis commodi esse aliquam eligend reprehenderit, numquam a odio.</p>
                <ul class="list-inline course-meta mt-15">
                  <li>
                    <h6>4 year</h6>
                    <span> Course</span>
                  </li>
                  <li>
                    <h6>35</h6>
                    <span> Class Size</span>
                  </li>
                  <li>
                    <h6><span class="course-time">2 hours 30 min</span></h6>
                    <span> Class Duration</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="course-single-item bg-white border-1px clearfix mb-30">
              <div class="course-thumb">
                <img class="img-fullwidth" alt="" src="images/course/sm2.jpg">
                <div class="price-tag">$290</div>
              </div>
              <div class="course-details clearfix p-20 pt-15">
                <div class="course-top-part pull-left mr-40">
                  <a href="page-course-details.html"><h4 class="mt-0 mb-5">Nural Networking Course</h4></a>
                  <ul class="list-inline">
                    <li class="review-stars">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-half"></i>
                      <i class="fa fa-star-o"></i>
                      <i class="fa fa-star-o"></i>
                    </li>
                    <li>25 <i class="fa fa-comments-o text-theme-colored2"></i></li>
                    <li>68 <i class="fa fa-thumbs-o-up text-theme-colored2"></i></li>
                  </ul>
                </div>
                <div class="author-thumb">
                  <img src="images/course/xs2.jpg" alt="" class="img-circle">
                </div>
                <div class="clearfix"></div>
                <p class="course-description mt-20">Lorem ipsum dolor sit amet, consec teturadipsi cing elit. Nobis commodi esse aliquam eligend reprehenderit, numquam a odio.</p>
                <ul class="list-inline course-meta mt-15">
                  <li>
                    <h6>3 year</h6>
                    <span> Course</span>
                  </li>
                  <li>
                    <h6>20</h6>
                    <span> Class Size</span>
                  </li>
                  <li>
                    <h6><span class="course-time">1 hour 45 min</span></h6>
                    <span> Class Duration</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="course-single-item bg-white border-1px clearfix mb-30">
              <div class="course-thumb">
                <img class="img-fullwidth" alt="" src="images/course/sm3.jpg">
                <div class="price-tag">Free</div>
              </div>
              <div class="course-details clearfix p-20 pt-15">
                <div class="course-top-part pull-left mr-40">
                  <a href="page-course-details.html"><h4 class="mt-0 mb-5">Nural Networking Course</h4></a>
                  <ul class="list-inline">
                    <li class="review-stars">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </li>
                    <li>25 <i class="fa fa-comments-o text-theme-colored2"></i></li>
                    <li>68 <i class="fa fa-thumbs-o-up text-theme-colored2"></i></li>
                  </ul>
                </div>
                <div class="author-thumb">
                  <img src="images/course/xs3.jpg" alt="" class="img-circle">
                </div>
                <div class="clearfix"></div>
                <p class="course-description mt-20">Lorem ipsum dolor sit amet, consec teturadipsi cing elit. Nobis commodi esse aliquam eligend reprehenderit, numquam a odio.</p>
                <ul class="list-inline course-meta mt-15">
                  <li>
                    <h6>2 year</h6>
                    <span> Course</span>
                  </li>
                  <li>
                    <h6>30</h6>
                    <span> Class Size</span>
                  </li>
                  <li>
                    <h6><span class="course-time">2 hours 30 min</span></h6>
                    <span> Class Duration</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="course-single-item bg-white border-1px clearfix mb-30">
              <div class="course-thumb">
                <img class="img-fullwidth" alt="" src="images/course/sm4.jpg">
                <div class="price-tag">$290</div>
              </div>
              <div class="course-details clearfix p-20 pt-15">
                <div class="course-top-part pull-left mr-40">
                  <a href="page-course-details.html"><h4 class="mt-0 mb-5">Nural Networking Course</h4></a>
                  <ul class="list-inline">
                    <li class="review-stars">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-o"></i>
                    </li>
                    <li>25 <i class="fa fa-comments-o text-theme-colored2"></i></li>
                    <li>68 <i class="fa fa-thumbs-o-up text-theme-colored2"></i></li>
                  </ul>
                </div>
                <div class="author-thumb">
                  <img src="images/course/xs1.jpg" alt="" class="img-circle">
                </div>
                <div class="clearfix"></div>
                <p class="course-description mt-20">Lorem ipsum dolor sit amet, consec teturadipsi cing elit. Nobis commodi esse aliquam eligend reprehenderit, numquam a odio.</p>
                <ul class="list-inline course-meta mt-15">
                  <li>
                    <h6>1 year</h6>
                    <span> Course</span>
                  </li>
                  <li>
                    <h6>45</h6>
                    <span> Class Size</span>
                  </li>
                  <li>
                    <h6><span class="course-time">3 hours 20 min</span></h6>
                    <span> Class Duration</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--start Funfacts Section-->
  <section class="parallax layer-overlay overlay-theme-colored-9" data-bg-img="images/bg/bg1.jpg" data-parallax-ratio="0.4">
    <div class="container pt-90 pb-90">
      <div class="section-content">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
            <div class="funfact text-center">
              <div class="odometer-animate-number text-white font-weight-600 font-48" data-value="5100" data-theme="minimal">0</div>
              <div class="double-line-bottom-centered-theme-colored-2 mt-0 mb-25"></div>
              <h5 class="text-white text-uppercase mb-0">Happy Students</h5>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
            <div class="funfact text-center">
              <div class="odometer-animate-number text-white font-weight-600 font-48" data-value="200" data-theme="minimal">0</div>
              <div class="double-line-bottom-centered-theme-colored-2 mt-0 mb-25"></div>
              <h5 class="text-white text-uppercase mb-0">Approved Courses</h5>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
            <div class="funfact text-center">
              <div class="odometer-animate-number text-white font-weight-600 font-48" data-value="20" data-theme="minimal">0</div>
              <div class="double-line-bottom-centered-theme-colored-2 mt-0 mb-25"></div>
              <h5 class="text-white text-uppercase mb-0">Certified Teachers</h5>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 mb-md-0">
            <div class="funfact text-center">
              <div class="odometer-animate-number text-white font-weight-600 font-48" data-value="600" data-theme="minimal">0</div>
              <div class="double-line-bottom-centered-theme-colored-2 mt-0 mb-25"></div>
              <h5 class="text-white text-uppercase mb-0">Graduate Students</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section: Team -->
  <section id="team">
    <div class="container pb-40">
      <div class="section-title">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="text-uppercase title">Qualified <span class="text-theme-colored2">Teachers</span></h2>
            <div class="double-line-bottom-centered-theme-colored-2 mt-20"></div>              
            <p class="text-uppercase mb-0">We Have Highly Qualified Teachers</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="team-members">
          <div class="col-md-3">
            <div class="team-members maxwidth400 mb-30">
              <div class="team-thumb">
                <img src="images/team/1.jpg" alt="" class="img-fullwidth">
              </div>
              <div class="team-bottom-part bg-silver-deep p-15 pb-0">
                <h4 class="text-uppercase font-raleway text-theme-colored title-border font-weight-600 line-bottom-center m-0">Oliver Queen <span class="text-gray font-13 ml-5">- LLB</span></h4>                  
                <p class="font-13 mt-10 mb-10">Lorem ipsum dolorsit amet consecte turadip isior ipsum dolor sit ametor ipsum dolor sit amet conse</p>
                <ul class="styled-icons icon-theme-colored2">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                  <li><a href="#"><i class="fa fa-skype"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="team-members maxwidth400 mb-30">
              <div class="team-thumb">
                <img src="images/team/2.jpg" alt="" class="img-fullwidth">
              </div>
              <div class="team-bottom-part bg-silver-deep p-15 pb-0">
                <h4 class="text-uppercase font-raleway text-theme-colored title-border font-weight-600 line-bottom-center m-0">John Diggle <span class="text-gray font-13 ml-5">- CSE</span></h4>                  
                <p class="font-13 mt-10 mb-10">Lorem ipsum dolorsit amet consecte turadip isior ipsum dolor sit ametor ipsum dolor sit amet conse</p>
                <ul class="styled-icons icon-theme-colored2">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                  <li><a href="#"><i class="fa fa-skype"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="team-members maxwidth400 mb-30">
              <div class="team-thumb">
                <img src="images/team/3.jpg" alt="" class="img-fullwidth">
              </div>
              <div class="team-bottom-part bg-silver-deep p-15 pb-0">
                <h4 class="text-uppercase font-raleway text-theme-colored title-border font-weight-600 line-bottom-center m-0">Laurel Lance <span class="text-gray font-13 ml-5">- Civil</span></h4>                  
                <p class="font-13 mt-10 mb-10">Lorem ipsum dolorsit amet consecte turadip isior ipsum dolor sit ametor ipsum dolor sit amet conse</p>
                <ul class="styled-icons icon-theme-colored2">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                  <li><a href="#"><i class="fa fa-skype"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="team-members maxwidth400 mb-30">
              <div class="team-thumb">
                <img src="images/team/4.jpg" alt="" class="img-fullwidth">
              </div>
              <div class="team-bottom-part bg-silver-deep p-15 pb-0">
                <h4 class="text-uppercase font-raleway text-theme-colored title-border font-weight-600 line-bottom-center m-0">Echo Kellum <span class="text-gray font-13 ml-5">- English</span></h4>                  
                <p class="font-13 mt-10 mb-10">Lorem ipsum dolorsit amet consecte turadip isior ipsum dolor sit ametor ipsum dolor sit amet conse</p>
                <ul class="styled-icons icon-theme-colored2">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                  <li><a href="#"><i class="fa fa-skype"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Divider: Testimonials -->
  <section class="parallax Divider layer-overlay overlay-theme-colored-9" data-bg-img="images/bg/bg7.jpg" data-parallax-ratio="0.4">
    <div class="container pt-70 pb-30">
      <div class="section-title">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="text-uppercase text-white title">What <span class="text-theme-colored2">People </span>Say</h2>
            <div class="double-line-bottom-centered-theme-colored-2 mt-20"></div>              
            <p class="text-uppercase mb-0">Student and Parents Opinion</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mb-30">
          <div class="owl-carousel-2col boxed" data-dots="true">
            <div class="item">
              <div class="testimonial pt-10">
                <div class="thumb pull-left mb-0 mr-0">
                  <img class="img-thumbnail img-circle" alt="" src="images/testimonials/1.jpg" width="110">
                </div>
                <div class="testimonial-content">
                  <h4 class="text-white font-weight-300 mt-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas vel sint, ut. Quisquam doloremque minus possimus eligendi dolore ad.</h4>
                  <h5 class="text-theme-colored2 mt-10 font-16 mb-0">Catherine Grace</h5>
                  <h6 class="text-gray-darkgray mt-5">CEO apple.inc</h6>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial pt-10">
                <div class="thumb pull-left mb-0 mr-0">
                  <img class="img-thumbnail img-circle" alt="" src="images/testimonials/2.jpg" width="110">
                </div>
                <div class="testimonial-content">
                  <h4 class="text-white font-weight-300 mt-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas vel sint, ut. Quisquam doloremque minus possimus eligendi dolore ad.</h4>
                  <h5 class="text-theme-colored2 mt-10 font-16 mb-0">Catherine Grace</h5>
                  <h6 class="text-gray-darkgray mt-5">CEO apple.inc</h6>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial pt-10">
                <div class="thumb pull-left mb-0 mr-0">
                  <img class="img-thumbnail img-circle" alt="" src="images/testimonials/3.jpg" width="110">
                </div>
                <div class="testimonial-content">
                  <h4 class="text-white font-weight-300 mt-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas vel sint, ut. Quisquam doloremque minus possimus eligendi dolore ad.</h4>
                  <h5 class="text-theme-colored2 mt-10 font-16 mb-0">Catherine Grace</h5>
                  <h6 class="text-gray-darkgray mt-5">CEO apple.inc</h6>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial pt-10">
                <div class="thumb pull-left mb-0 mr-0">
                  <img class="img-thumbnail img-circle" alt="" src="images/testimonials/1.jpg" width="110">
                </div>
                <div class="testimonial-content">
                  <h4 class="text-white font-weight-300 mt-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas vel sint, ut. Quisquam doloremque minus possimus eligendi dolore ad.</h4>
                  <h5 class="text-theme-colored2 mt-10 font-16 mb-0">Catherine Grace</h5>
                  <h6 class="text-gray-darkgray mt-5">CEO apple.inc</h6>
                </div>
              </div>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </section>

  <!-- Section: Events -->
  <section>
    <div class="container pb-50">
      <div class="section-content">
        <div class="row">
          <div class="col-md-5">
            <h3 class="text-uppercase line-bottom-theme-colored-2 line-height-1 mt-0 mt-sm-30"><i class="fa fa-question-circle-o mr-10"></i>Frequently Asked <span class="text-theme-colored2">Questions</span></h3>
            <div class="panel-group accordion-stylished-left-border accordion-icon-filled accordion-no-border accordion-icon-left accordion-icon-filled-theme-colored2" id="accordion6" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headin1">
                  <h6 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion6" href="#collaps1" aria-expanded="true" aria-controls="collaps1">
                      Why LearnPro University is Best?
                    </a>
                  </h6>
                </div>
                <div id="collaps1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headin1">
                  <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading2">
                  <h6 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion6" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                      Why LearnPro University is Best?
                    </a>
                  </h6>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                  <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading3">
                  <h6 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion6" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                      Why LearnPro University is Best?
                    </a>
                  </h6>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                  <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading4">
                  <h6 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion6" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                      Why LearnPro University is Best?
                    </a>
                  </h6>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                  <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <h3 class="text-uppercase line-bottom-theme-colored-2 line-height-1 mt-0 mt-sm-30"><i class="fa fa-photo mr-10"></i>See Our <span class="text-theme-colored2">Gallery</span></h3>
            <div class="gallery-isotope default-animation-effect grid-4 gutter clearfix" data-lightbox="gallery">
              <!-- Portfolio Item Start -->
              <div class="gallery-item">
                <div class="thumb">
                  <img alt="project" src="images/gallery/gallery-sm1.jpg" class="img-fullwidth">
                  <div class="overlay-shade"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                        <a href="images/gallery/gallery-lg1.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Portfolio Item End -->
              
              <!-- Portfolio Item Start -->
              <div class="gallery-item">
                <div class="thumb">
                  <img alt="project" src="images/gallery/gallery-sm2.jpg" class="img-fullwidth">
                  <div class="overlay-shade"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                        <a href="images/gallery/gallery-lg2.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Portfolio Item End -->
              
              <!-- Portfolio Item Start -->
              <div class="gallery-item">
                <div class="thumb">
                  <img alt="project" src="images/gallery/gallery-sm3.jpg" class="img-fullwidth">
                  <div class="overlay-shade"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                        <a href="images/gallery/gallery-lg3.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Portfolio Item End -->
              
              <!-- Portfolio Item Start -->
              <div class="gallery-item">
                <div class="thumb">
                  <img alt="project" src="images/gallery/gallery-sm4.jpg" class="img-fullwidth">
                  <div class="overlay-shade"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                        <a href="images/gallery/gallery-lg4.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Portfolio Item End -->
              
              <!-- Portfolio Item Start -->
              <div class="gallery-item">
                <div class="thumb">
                  <img alt="project" src="images/gallery/gallery-sm5.jpg" class="img-fullwidth">
                  <div class="overlay-shade"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                        <a href="images/gallery/gallery-lg5.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Portfolio Item End -->
              
              <!-- Portfolio Item Start -->
              <div class="gallery-item">
                <div class="thumb">
                  <img alt="project" src="images/gallery/gallery-sm6.jpg" class="img-fullwidth">
                  <div class="overlay-shade"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                        <a href="images/gallery/gallery-lg6.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Portfolio Item End -->
              
              <!-- Portfolio Item Start -->
              <div class="gallery-item">
                <div class="thumb">
                  <img alt="project" src="images/gallery/gallery-sm7.jpg" class="img-fullwidth">
                  <div class="overlay-shade"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                        <a href="images/gallery/gallery-lg7.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Portfolio Item End -->
              
              <!-- Portfolio Item Start -->
              <div class="gallery-item">
                <div class="thumb">
                  <img alt="project" src="images/gallery/gallery-sm8.jpg" class="img-fullwidth">
                  <div class="overlay-shade"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                        <a href="images/gallery/gallery-lg8.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Portfolio Item End -->
              
              <!-- Portfolio Item Start -->
              <div class="gallery-item">
                <div class="thumb">
                  <img alt="project" src="images/gallery/gallery-sm9.jpg" class="img-fullwidth">
                  <div class="overlay-shade"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                        <a href="images/gallery/gallery-lg9.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Portfolio Item End -->
              
              <!-- Portfolio Item Start -->
              <div class="gallery-item">
                <div class="thumb">
                  <img alt="project" src="images/gallery/gallery-sm10.jpg" class="img-fullwidth">
                  <div class="overlay-shade"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                        <a href="images/gallery/gallery-lg10.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Portfolio Item End -->
              
              <!-- Portfolio Item Start -->
              <div class="gallery-item">
                <div class="thumb">
                  <img alt="project" src="images/gallery/gallery-sm11.jpg" class="img-fullwidth">
                  <div class="overlay-shade"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                        <a href="images/gallery/gallery-lg11.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Portfolio Item End -->
              
              <!-- Portfolio Item Start -->
              <div class="gallery-item">
                <div class="thumb">
                  <img alt="project" src="images/gallery/gallery-sm12.jpg" class="img-fullwidth">
                  <div class="overlay-shade"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                        <a href="images/gallery/gallery-lg12.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Portfolio Item End -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section: blog -->
  <section id="blog" class="bg-silver-deep">
    <div class="container pb-40">
      <div class="section-title">
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-uppercase title">Latest <span class="text-theme-colored2">News </span></h2>              
            <p class="text-uppercase mb-0">See All Time Latest News</p>
                        <div class="double-line-bottom-theme-colored-2"></div>
                      </div>
        </div>
      </div>
      <div class="section-content">
        <div class="row">
          <div class="col-md-8">
            <div class="owl-carousel-2col owl-nav-top" data-nav="true">
              <div class="item">
                <article class="post clearfix mb-30">
                  <div class="entry-header">
                    <div class="post-thumb thumb"> 
                      <img src="images/blog/1.jpg" alt="" class="img-responsive img-fullwidth"> 
                    </div>                    
                    <div class="entry-date media-left text-center flip bg-theme-colored border-top-theme-colored2-3px pt-5 pr-15 pb-5 pl-15">
                      <ul>
                        <li class="font-16 text-white font-weight-600">28</li>
                        <li class="font-12 text-white text-uppercase">Feb</li>
                      </ul>
                    </div>
                  </div>
                  <div class="entry-content bg-white p-15">
                    <div class="entry-meta media no-bg no-border mt-0 mb-10">
                      <div class="media-body pl-0">
                        <div class="event-content pull-left flip">
                          <h4 class="entry-title text-white text-uppercase font-weight-600 m-0 mt-5"><a href="blog-single-left-sidebar.html">Post title here</a></h4>
                          <ul class="list-inline">
                            <li><i class="fa fa-user-o mr-5 text-theme-colored2"></i>By Author</li>
                            <li><i class="fa fa-thumbs-o-up mr-5 text-theme-colored2"></i>Likes</li>
                            <li><i class="fa fa-share-alt mr-5 text-theme-colored2"></i> 895 Likes</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipisi cing elit. Molestias eius illum libero dolor nobis deleniti</p>
                                          <a class="btn btn-default btn-flat font-12 mt-10 ml-5" href="blog-single-left-sidebar.html"> View Details</a>
                  </div>
                </article>
              </div>
              <div class="item">
                <article class="post clearfix mb-30">
                  <div class="entry-header">
                    <div class="post-thumb thumb"> 
                      <img src="images/blog/2.jpg" alt="" class="img-responsive img-fullwidth"> 
                    </div>                    
                    <div class="entry-date media-left text-center flip bg-theme-colored border-top-theme-colored2-3px pt-5 pr-15 pb-5 pl-15">
                      <ul>
                        <li class="font-16 text-white font-weight-600">28</li>
                        <li class="font-12 text-white text-uppercase">Feb</li>
                      </ul>
                    </div>
                  </div>
                  <div class="entry-content bg-white p-15">
                    <div class="entry-meta media no-bg no-border mt-0 mb-10">
                      <div class="media-body pl-0">
                        <div class="event-content pull-left flip">
                          <h4 class="entry-title text-white text-uppercase font-weight-600 m-0 mt-5"><a href="blog-single-left-sidebar.html">Post title here</a></h4>
                          <ul class="list-inline">
                            <li><i class="fa fa-user-o mr-5 text-theme-colored2"></i>By Author</li>
                            <li><i class="fa fa-thumbs-o-up mr-5 text-theme-colored2"></i>Likes</li>
                            <li><i class="fa fa-share-alt mr-5 text-theme-colored2"></i> 895 Likes</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipisi cing elit. Molestias eius illum libero dolor nobis deleniti</p>
                                          <a class="btn btn-default btn-flat font-12 mt-10 ml-5" href="blog-single-left-sidebar.html"> View Details</a>
                  </div>
                </article>
              </div>
              <div class="item">
                <article class="post clearfix mb-30">
                  <div class="entry-header">
                    <div class="post-thumb thumb"> 
                      <img src="images/blog/3.jpg" alt="" class="img-responsive img-fullwidth"> 
                    </div>                    
                    <div class="entry-date media-left text-center flip bg-theme-colored border-top-theme-colored2-3px pt-5 pr-15 pb-5 pl-15">
                      <ul>
                        <li class="font-16 text-white font-weight-600">28</li>
                        <li class="font-12 text-white text-uppercase">Feb</li>
                      </ul>
                    </div>
                  </div>
                  <div class="entry-content bg-white p-15">
                    <div class="entry-meta media no-bg no-border mt-0 mb-10">
                      <div class="media-body pl-0">
                        <div class="event-content pull-left flip">
                          <h4 class="entry-title text-white text-uppercase font-weight-600 m-0 mt-5"><a href="blog-single-left-sidebar.html">Post title here</a></h4>
                          <ul class="list-inline">
                            <li><i class="fa fa-user-o mr-5 text-theme-colored2"></i>By Author</li>
                            <li><i class="fa fa-thumbs-o-up mr-5 text-theme-colored2"></i>Likes</li>
                            <li><i class="fa fa-share-alt mr-5 text-theme-colored2"></i> 895 Likes</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipisi cing elit. Molestias eius illum libero dolor nobis deleniti</p>
                    <a class="btn btn-default btn-flat font-12 mt-10 ml-5" href="blog-single-left-sidebar.html"> View Details</a>
                  </div>
                </article>
              </div>
              <div class="item">
                <article class="post clearfix mb-30">
                  <div class="entry-header">
                    <div class="post-thumb thumb"> 
                      <img src="images/blog/4.jpg" alt="" class="img-responsive img-fullwidth"> 
                    </div>                    
                    <div class="entry-date media-left text-center flip bg-theme-colored border-top-theme-colored2-3px pt-5 pr-15 pb-5 pl-15">
                      <ul>
                        <li class="font-16 text-white font-weight-600">28</li>
                        <li class="font-12 text-white text-uppercase">Feb</li>
                      </ul>
                    </div>
                  </div>
                  <div class="entry-content bg-white p-15">
                    <div class="entry-meta media no-bg no-border mt-0 mb-10">
                      <div class="media-body pl-0">
                        <div class="event-content pull-left flip">
                          <h4 class="entry-title text-white text-uppercase font-weight-600 m-0 mt-5"><a href="blog-single-left-sidebar.html">Post title here</a></h4>
                          <ul class="list-inline">
                            <li><i class="fa fa-user-o mr-5 text-theme-colored2"></i>By Author</li>
                            <li><i class="fa fa-thumbs-o-up mr-5 text-theme-colored2"></i>Likes</li>
                            <li><i class="fa fa-share-alt mr-5 text-theme-colored2"></i> 895 Likes</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipisi cing elit. Molestias eius illum libero dolor nobis deleniti</p>
                                          <a class="btn btn-default btn-flat font-12 mt-10 ml-5" href="blog-single-left-sidebar.html"> View Details</a>
                  </div>
                </article>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <h2 class="mt-0 line-height-1"><span class="text-theme-colored2">Contact us</span></h2>
                <div class="double-line-bottom-theme-colored-2 mt-15 mb-10"></div>
                <p class="mb-15">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio cum autem assumenda.</p>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="icon-box left media bg-white border-1px p-15 mb-15"> <a class="media-left pull-left" href="#"> <i class="pe-7s-map-2 text-theme-colored2"></i></a>
                  <div class="media-body">
                    <h5 class="mt-0">Our Office Location</h5>
                    <p>#405, Lan Streen, Los Vegas, USA</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-12">
                <div class="icon-box left media bg-white border-1px p-15 mb-15"> <a class="media-left pull-left" href="#"> <i class="pe-7s-call text-theme-colored2"></i></a>
                  <div class="media-body">
                    <h5 class="mt-0">Contact Number</h5>
                    <p>+325 12345 65478</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-12">
                <div class="icon-box left media bg-white border-1px p-15 mb-15"> <a class="media-left pull-left" href="#"> <i class="pe-7s-mail text-theme-colored2"></i></a>
                  <div class="media-body">
                    <h5 class="mt-0">Email Address</h5>
                    <p>supporte@yourdomin.com</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Divider: Map -->
  <section>
    <!-- Google Map HTML Codes -->
    <div 
      data-address="121 King Street, Melbourne Victoria 3000 Australia"
      data-popupstring-id="#popupstring1"
      class="map-canvas autoload-map"
      data-mapstyle="style1"
      data-height="400"
      data-latlng="40.7807400,-74.0210890"
      data-title="sample title"
      data-zoom="12"
      data-marker="images/map-marker.png">
    </div>
    <div class="map-popupstring hidden" id="popupstring1">
      <div class="text-center">
        <h3>Kempt Central Office</h3>
        <p>121 King Street, Melbourne Victoria 3000 Australia</p>
      </div>
    </div>
    <!-- Google Map Javascript Codes -->
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="js/google-map-init.js"></script>
  </section>

  <!-- Divider: Call To Action -->
  <section class="bg-theme-colored2">
    <div class="container pt-0 pb-0">
      <div class="row">
        <div class="call-to-action sm-text-center">
          <div class="col-md-7">
            <h4 class="text-white mb-0">Are you ready to get start?</h4>
            <h2 class="text-white mt-0">Subscribe Newsletter for Get in Touch!</h2>
          </div>
          <div class="col-md-5">
            <!-- Mailchimp Subscription Form Starts Here -->
            <form id="mailchimp-subscription-form-footer" class="newsletter-form mt-20 pt-5">
              <div class="input-group">
                <input value="" name="EMAIL" placeholder="Your Email" class="form-control input-lg font-16" data-height="45px" id="mce-EMAIL-footer" style="height: 45px;" type="email">
                <span class="input-group-btn">
                  <button data-height="45px" class="btn btn-theme-colored text-white btn-xs m-0 font-14" type="submit" style="height: 45px;">Subscribe</button>
                </span>
              </div>
            </form>
            <!-- Mailchimp Subscription Form Validation-->
            <script type="text/javascript">
              $('#mailchimp-subscription-form-footer').ajaxChimp({
                  callback: mailChimpCallBack,
                  url: '//thememascot.us9.list-manage.com/subscribe/post?u=a01f440178e35febc8cf4e51f&amp;amp;amp;id=49d6d30e1e'
              });

              function mailChimpCallBack(resp) {
                  // Hide any previous response text
                  var $mailchimpform = $('#mailchimp-subscription-form-footer'),
                      $response = '';
                  $mailchimpform.children(".alert").remove();
                  if (resp.result === 'success') {
                      $response = '&amp;lt;div class="alert alert-success"&amp;gt;&amp;lt;button type="button" class="close" data-dismiss="alert" aria-label="Close"&amp;gt;&amp;lt;span aria-hidden="true"&amp;gt;&amp;amp;times;&amp;lt;/span&amp;gt;&amp;lt;/button&amp;gt;' + resp.msg + '&amp;lt;/div&amp;gt;';
                  } else if (resp.result === 'error') {
                      $response = '&amp;lt;div class="alert alert-danger"&amp;gt;&amp;lt;button type="button" class="close" data-dismiss="alert" aria-label="Close"&amp;gt;&amp;lt;span aria-hidden="true"&amp;gt;&amp;amp;times;&amp;lt;/span&amp;gt;&amp;lt;/button&amp;gt;' + resp.msg + '&amp;lt;/div&amp;gt;';
                  }
                  $mailchimpform.prepend($response);
              }
            </script>
            <!-- Mailchimp Subscription Form Ends Here -->
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- end main-content -->

