<section id="sub-header">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <h1>Backoffice</h1>
                <p class="lead"></p>
            </div>
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
    <div class="divider_top"></div>
</section>
<!-- End sub-header -->

<section id="main_content">
    <div class="container">
            <#if docente??>
            <ol class="breadcrumb"> 
                    <li>
                        <a href="BackofficeD">BackofficeD</a>
                    </li>
                    <li class="active">
                        <a href="MaterialeNewD">Aggiunta materiale</a>
                    </li>
                </ol>
                <#else>
        <ol class="breadcrumb"> 
            <li>
                <a href="Backoffice">Backoffice</a>
            </li>
            <li class="active">
                <a href="MaterialeNew">Aggiunta materiale</a>
            </li>
        </ol>
    </#if>

        <div class="row">
                <aside class="col-md-4">
                        <div class="box_style_1 profile">
                            <#if docente??>
                            <h4>Corsi Assegnati</h4>

                    <ul>
                        <#list corso as corso>
                            <li>
                                <a href="CreateCorsoD?n=${corso.ID}"> ${corso.nome_it} </a>
                            </li>
                        </#list>
                    </ul>

                    <h4>Aggiunta documenti</h4>
                    <ul>
                        <li>
                            <a href="MaterialeNewD"> Aggiungi materiale utile </a>
                        </li>
                        <li>
                            <a href="MaterialeUpD"> Aggiungi libri al corso </a>
                        </li>
                    </ul>

                    <h4>Gestione documenti</h4>
                    <ul>
                        <li>
                            <a href="MaterialeUpD"> Gestisci Materiale Inserito</a>
                        </li>
                        <li>
                            <a href="LibroUpD"> Gestisci Libri Inserito</a>
                        </li>
                    </ul>
                </div>
            </aside>








                            <#else>
                            <h4>Funzioni creazione</h4>
        
                            <ul>
                                <li><a href="CreateCDL">Crea Un Nuovo Cdl</a></li>
                                <li><a href="CreateCorso">Crea Nuovo Corso</a></li>
                                <li><a href="RegisterDocente">Registra Nuovo Docente</a></li>
                                <li><a href="MaterialeNew">Aggiungi Materiale</a></li>
                                <li><a href="LibroNew">Aggiungi Libro</a></li>
                            </ul>
        
                            <h4>Funzioni modifica</h4>
                            <ul>
                                <li><a href="Corsianno">Modifica corsi</a></li>
                                <li><a href="ModificaCDL">Modifica Cdl</a></li>
                                <li><a href="ModificaDocente">Modifica Docente</a></li>
                            </ul>
        
                            <h4>Funzioni Upload</h4>
                            <ul>
                                <li><a href="MaterialeUp">Materiale gestione</a></li>
                                <li><a href="LibroUp">Libri gestione</a></li>
                            </ul>
        
                        </div>
                    </aside>
                    </#if>



            <div class="col-md-8 box_style_2">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Aggiungi nuovo materiale</h4>
                    </div>
                </div>
                <div id="message-apply"></div>



                <form method="post" action="MaterialeNew" enctype="multipart/form-data">



                    <div class="row">
                        <!--Materiali-->

                        <div class="panel-group" id="accordion">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1">Materiale - Optional
                                            <i class="indicator icon-plus pull-right"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse">
                                    <div class="panel-body">

                                        <h5>Upload materiale</h5>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control style_2" placeholder="Nome materiale" name="nomem">
                                        </div>

                                        <h5>File</h5>
                                        <div class="col-md-6">
                                            <input type="file" name="linkm" required/>
                                        </div>





                                        <div class="col-md-12">
                                            <h5>Descrizione materiale IT</h5>
                                            <textarea rows="5" name="descrizioneitm" class="tinymce"></textarea>
                                            <h5>Descrizione materiale EN</h5>
                                            <textarea rows="5" name="descrizioneenm" class="tinymce"></textarea>
                                            <hr>
                                            <div class="col-md-12">
                                                    <div class="form-group">
                                                            <div class="styled-select">
                                                                <select class="form-control" name="corso" required>
                                                                    <option disabled selected>Seleziona corso...</option>
                                                                    <#list corso as corso>
                                                                    <option value="${corso.ID}">${corso.nome_it}</option>
                                                                    </#list>
                                                                </select>
                                                            </div>
                                                        </div>


                                            
                                            <input type="submit" name="crea" value="Creazione materiale" class="button_subscribe_green" id="submit-apply">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>


                </form>





            </div>


        </div>
        <!-- End row-->
    </div>
    <!-- End container -->
</section>
<!-- End main_content-->

