<section id="sub-header">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <h1>Inside Learn</h1>
                <p class="lead boxed ">Ex utamur fierent tacimates duis choro an</p>
                <p class="lead">
                    Lorem ipsum dolor sit amet, ius minim gubergren ad. At mei sumo sonet audiam, ad mutat elitr platonem vix. Ne nisl idque fierent vix. 
                </p>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
    <div class="divider_top"></div>
    </section><!-- End sub-header -->
    
    
    <section id="main_content" >
    	<div class="container">
        
        <ol class="breadcrumb">
          <#if lingua=="it">
            <li><a href="Home">Home</a></li>
            <li><a href="listcorsi">Lista Corsi</a></li>
            <li><a href="DetailsCorso?n=${corso.ID}"><#if corso.nome_it?trim?has_content>${corso.nome_it}<#else>${corso.nome_en}</#if></a></li>
            <li class="active">Materiale</li>
          <#else>
            <li><a href="Home?lin=en">Home</a></li>
            <li><a href="listcorsi?lin=en">Courses List</a></li>
            <li><a href="DetailsCorso?n=${corso.ID}&lin=en"><#if corso.nome_en?trim?has_content>${corso.nome_en}<#else>${corso.nome_it}</#if></a></li>
            <li class="active">Materiale</li>
          </#if>
        </ol>

       
        <div class="row">
                <div class="col-md-12">
       
            <#if lingua="it">
                <h3>Materiale</h3>
            <#else>
                <h3>Material</h3>
            </#if>
            
            
            <#if lingua="it">
            <table class="table table-striped">
                        <thead>
                                
                                        <tr>
                                          <th>Nome</th>
                                          <th>Descrizione</th>
                                          <th>Dimensioni</th>
                                          <th>Download</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                            <#list materiale as materiale,peso>
                                        <tr>
                                                <#noautoesc>
                                                <th scope="row"> ${materiale.nome}</th>
                                                 <td> <#if materiale.descrizione_it?trim?has_content> ${materiale.descrizione_it} <#else> ${materiale.descrizione_en} </#if></td>
                                                <td> ${peso} KB</td>
                                                <td class="icon-download"><a href="download?k=${materiale.link}"> Scarica Ora </a></td>
                                        </tr>
                                       </#noautoesc>
                           </#list>
        
                        </tbody>
                </table>
               
                
            <#else>
            <table class="table table-striped">
                    <thead>
                            
                                    <tr>
                                      <th>Nome</th>
                                      <th>Descrizione</th>
                                      <th>Dimensioni</th>
                                      <th>Download</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                        <#list materiale as materiale,peso>
                                        <#noautoesc>
                                        <tr>
                                    <td>${materiale.nome}</td>
                                            <td><#if materiale.descrizione_en?trim?has_content> ${materiale.descrizione_en} <#else> ${materiale.descrizione_it}</#if></td>
                                            <td>${peso} KB</td>
                                            <td class="icon-download"><a href="download?k=${materiale.link}">Download Now</a></td>
                                        </tr>
                                        </#noautoesc>
                                       </#list>
                    </tbody>
            </table>
                        
            </#if>
      
 
        </div><!-- End col-->                        
        </div><!-- End row -->
        </div><!-- End container -->
    </section><!-- End main_content -->

