<section id="sub-header">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <h1>Backoffice</h1>
                <p class="lead"></p>
            </div>
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
    <div class="divider_top"></div>
</section>
<!-- End sub-header -->

<section id="main_content">
    <div class="container">
        <ol class="breadcrumb">
            <li>
                <a href="Backoffice?lin=it">Backoffice</a>
            </li>
            <li class="active">
                <a href="ModificaCDL">Modifica Corso di Laurea</a>
            </li>
        </ol>

        <div class="row">
                <aside class="col-md-4">
                        <div class="box_style_1 profile">
                            <h4>Funzioni creazione</h4>
        
                            <ul>
                                <li><a href="CreateCDL">Crea Un Nuovo Cdl</a></li>
                                <li><a href="CreateCorso">Crea Nuovo Corso</a></li>
                                <li><a href="RegisterDocente">Registra Nuovo Docente</a></li>
                                <li><a href="MaterialeNew">Aggiungi Materiale</a></li>
                                <li><a href="LibroNew">Aggiungi Libro</a></li>
                            </ul>
        
                            <h4>Funzioni modifica</h4>
                            <ul>
                                <li><a href="Corsianno">Modifica corsi</a></li>
                                <li><a href="ModificaCDL">Modifica Cdl</a></li>
                                <li><a href="ModificaDocente">Modifica Docente</a></li>
                            </ul>
        
                            <h4>Funzioni Upload</h4>
                            <ul>
                                <li><a href="MaterialeUp">Materiale gestione</a></li>
                                <li><a href="LibroUp">Libri gestione</a></li>
                            </ul>
        
                        </div>
                    

            <aside class="col-md-12">
                    <div class="box_style_2">
                        <h5> Seleziona il cdl interessato</h5>
                        <h6> Cdl triennali</h6>
                        <#list cdl as cdl>
                            <li>
                                <a href="ModificaCDL?n=${cdl.IDCDL}"><#if cdl.nome_it?trim?has_content>${cdl.nome_it}<#else>${cdl.nome_en} </#if></a>
                            </li>
                        </#list>

                            <h6>Cdl magistrali</h6>
                        <#list cdlm as cdlm>
                            <li>
                                <a href="ModificaCDL?n=${cdlm.IDCDL}"><#if cdlm.nome_it?trim?has_content>${cdlm.nome_it}<#else>${cdlm.nome_en}</#if></a>
                            </li>
                        </#list>



                    </div>
                </aside>
            </aside>


            <#if cdls??>
            <div class="col-md-8 box_style_2">
                <span class="tape"></span>
                <div class="row">
                    <div class="col-md-12">
                        <h4>Modifica cdl di ${cdls.nome_it}</h4>
                    </div>
                </div>
                <div id="message-apply"></div>
                <form method="post" action="ModificaCDL" enctype="multipart/form-data">

                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <h5>Nome CDL</h5>
                            <div class="form-group">
                                <input type="text" class="form-control style_2 req" value="${cdls.nome_it}" placeholder="Nome corso di laurea" name="nome" required>
                                <span class="input-icon">
                                    <i class="#"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <h5>Nome CDL EN</h5>
                            <div class="form-group">
                                <input type="text" class="form-control style_2 req" value="${cdls.nome_en}" placeholder="Nome corso di laurea EN" name="nome_en"
                                    required>
                                <span class="input-icon">
                                    <i class="#"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <h5>Sigla corso di laurea IT</h5>
                            <div class="form-group">
                                <input type="text" class="form-control style_2 req1" value="${cdls.abbr_it}" placeholder="Sigla  IT" name="abbr_it" required>
                                <span class="input-icon">
                                    <i class="#"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <h5>Sigla corso di laurea EN</h5>
                            <div class="form-group">
                                <input type="text" class="form-control style_2 req1" value="${cdls.abbr_en}" placeholder="Sigla  EN" name="abbr_en" required>
                                <span class="input-icon">
                                    <i class="#"></i>
                                </span>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <h5>Cfu corso di laurea</h5>
                            <div class="form-group">
                                <input type="number" class="form-control style_2" value="${cdls.cfu}" placeholder="Cfu" name="cfu" min=1>
                                <span class="input-icon">
                                    <i class="#"></i>
                                </span>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6">

                            <h5>Cdl Magistrale?</h5>
                            <label class="switch-light switch-ios">
                                <input type="checkbox" name="mag" class="required fix_ie8" value="${cdls.magistrale}">
                                <span>
                                    <span class="ie8_hide">No</span>
                                    <span>Si</span>
                                </span>
                                <a></a>
                            </label>


                        </div>

                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <h4>Descrizione CDL In Italiano - Optional</h4>
                            <div class="form-group">
                                <textarea rows="5" id="mytextarea" name="descrizione_it"  class="form-control tinymce" placeholder="Scrivi qui la descrizione"
                                    style="height:150px;">${cdls.descrizione_it}</textarea>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <h4>Descrizione CDL In Inglese - Optional</h4>
                            <div class="form-group">
                                <textarea rows="5" id="mytextarea" name="descrizione_en"  class="form-control tinymce" placeholder="Write here your description"
                                    style="height:150px;">${cdls.descrizione_en}</textarea>
                            </div>
                        </div>
                    </div>




                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Upload Immagine - Optional</h4>
                            <div class="form-group">
                                    <img id="img-docente1" src="${cdls.immagine}" alt="cdl"><br><br>
                                <input type="file" name="immagine" value="${cdls.immagine}" onchange="ValidateImg(this)" />
                            </div>
                        </div>
                    </div>
                    <hr>



                    <input type="hidden" name="id" value="${cdls.IDCDL}">
                    <input type="submit" name="modifica" value="Modifica corso di laurea" class="button_subscribe_green" id="submit-apply">
                    <input type="submit" name="cancella" value="Cancella corso di laurea" class="button_subscribe_green" style="float:right" id="submit-apply">

                </form>

</#if>



            </div>
        </div>
        <!-- End row-->
    </div>
    <!-- End container -->
</section>
<!-- End main_content-->