<section id="sub-header">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <h1>Backoffice</h1>
                    <p class="lead"></p>
                </div>
            </div><!-- End row -->
        </div><!-- End container -->
        <div class="divider_top"></div>
        </section><!-- End sub-header -->
        
    <section id="main_content">
        <div class="container">
                <ol class="breadcrumb">
                        <li ><a href="Backoffice">Backoffice</a></li>
                        <li><a href="Corsianno?lin=it">Selezione del corso</a></li>
                        <li class="active"><a href="ModificaCorso">Modifica Corso <#if corso.nome_it?trim?has_content>${corso.nome_it}<#else>${corso.nome_en}</#if> </a></li>

                      </ol>
    
    
    
    
                     
                      <div class="row">
                        <aside class="col-md-4">
                            <div class="box_style_1 profile">
                                <h4>Funzioni creazione</h4>
            
                                <ul>
                                    <li>
                                        <a href="CreateCDL">Crea un nuovo corso di laurea</a>
                                        </strong>
                                    </li>
                                    <li>
                                        <a href="CreateCorso">Crea nuovo corso</a>
                                        </strong>
                                    </li>
                                    <li>
                                        <a href="RegisterDocente">Registra nuovo docente</a>
                                        </strong>
                                    </li>
                                </ul>
            
                                <h4>Funzioni modifica</h4>
                                <ul>
                                    <li>
                                        <a href="Corsianno">Modifica corsi</a>
                                        </strong>
                                    </li>
                                </ul>
                            </aside>
    

                    
                    <div class="col-md-8 box_style_2">
                        <span class="tape"></span>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Modifica il corso di <#if corso.nome_it?trim?has_content>${corso.nome_it}<#else>${corso.nome_en}</#if></h4>
                            </div>
                        </div>
                        <div id="message-apply"></div>
                        <form method="post" action="ModificaCorso">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <h5>Nome Del Corso</h5>
                                    <div class="form-group">
                                        <input type="text" class="form-control style_2" value="${corso.nome_it}" name="nome">
                                        <span class="input-icon">
                                            <i class="#"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <h5>Nome Del Corso EN</h5>
                                    <div class="form-group">
                                            <input type="text" class="form-control style_2" value="${corso.nome_en}" name="nome_en">
                                            <span class="input-icon">
                                            <i class="#"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            
    
    
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <h5>SSD</h5>
                                    <div class="form-group">
                                        <input type="text" class="form-control style_2" value="${corso.SSD}" name="ssd">
                                        <span class="input-icon">
                                            <i class="#"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <h5>Lingua Del Corso</h5>
                                    <div class="form-group">
                                            <input type="text" class="form-control style_2" value="${corso.lingua}" name="linguac">
                                            <span class="input-icon">
                                            <i class="#"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
    
    
    
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <h5>Semestre</h5>
                                    <div class="form-group">
                                        <div class="styled-select">
                                            <select class="form-control" name="semestre">
                                                <#if corso.semestre==1>
                                                <option value="1" selected>Primo Semestre</option>
                                                <option value="2">Secondo Semestre</option>
                                                <#elseif corso.semestre==2>
                                                <option value="1">Primo Semestre</option>
                                                <option value="2" selected>Secondo Semestre</option>
                                                <#else>
                                                <option value="" selected>Seleziona semestre corso...</option>
                                                <option value="1">Primo Semestre</option>
                                                <option value="2" selected>Secondo Semestre</option>
                                                </#if>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <h5>CFU del Corso</h5>
                                    <div class="form-group">
                                            <input type="number" class="form-control style_2" value="${corso.cfu}" name="cfu" min=1>
                                            <span class="input-icon">
                                            <i class="#"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
    
    
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <h5>Tipologia Dei Crediti</h5>
                                    <div class="form-group">
                                            <div class="styled-select">
                                                    <select class="form-control" name="tipologia">
                                                        <#if corso.tipologia=='A'>
                                                        <option value="A" selected>A</option>
                                                        <option value="B">B</option>
                                                        <#elseif corso.tipologia=='B'>
                                                        <option value="A">A</option>
                                                        <option value="B" selected>B</option>
                                                        <#else>
                                                        <option value="n" selected>Seleziona tipologia cfu...</option>
                                                        <option value="A">A</option>
                                                        <option value="B">B</option>
                                                        </#if>
                                                    </select>
                                                </div>
                                    </div>
                                </div>
                                
                            </div>
        
                            <hr>
                            <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                            <#assign seq=[]>
                                                    <h5>Docenti associati</h5>
                                                    <#list docente?sort_by("nome") as docente>
                                                    <#assign seq=seq+[docente.IDDocente]>
                                                    <li>${docente.nome} ${docente.cognome}</li>
                                                    </#list> 
                                    </div>
                                                    <div class="col-md-6 col-sm-6">
                                                    <h4>Cambia Docenti Associati</h4>
                                                    <select id="special1" name="docenti" multiple autocomplete="off">
                                                    <#list docenti?sort_by("nome") as docenti>
                                                    <option value="${docenti.IDDocente}" <#if seq?seq_contains(docenti.IDDocente)>selected</#if>>${docenti.nome} ${docenti.cognome}</option>
                                                    </#list> 
                                                    </select>

                                                    </div>
                                            </div>
                                    
                            
                            <hr>
    
                            
                            <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <#assign seq=[]>
                                                    <h5>Cdl associati</h5>
                                                    <#list cdl?sort_by("nome_it") as cdl>
                                                    <#assign seq=seq+[cdl.IDCDL]>
                                                    <li>${cdl.nome_it}</li>
                                                    </#list> 
                                    </div>
                                                    <div class="col-md-6 col-sm-6">
                                                    <h4>Modifica il cdl corso</h4>
                                                    <select id="special2" name="cdl" multiple autocomplete="off">
                                                    <#list cdl1?sort_by("nome_it") as cdl1>
                                                    <option value="${cdl1.IDCDL}" <#if seq?seq_contains(cdl1.IDCDL)>selected</#if>><#if cdl1.nome_it?trim?has_content>${cdl1.nome_it}<#else>${cdl1.nome_en}</#if></option>
                                                    </#list> 
                                                    </select>

                                                    </div>
                                    </div>
                                    
                            <hr>
    
                            <input type='hidden' name='key' value='${corso.ID}'>
                            <input type="submit" name="modifica" value="Aggiorna Corso" class="button_subscribe_green" id="submit-apply">
                            <input type="submit" name="cancella" value="Cancella Corso" class="button_subscribe_green" style="float:right" id="submit-apply">
                        </form>
    
                            
                                    
                                 
                                  
                    </div>
            </div><!-- End row-->   
        </div><!-- End container -->
    </section><!-- End main_content-->