<section id="sub-header">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <h1>Backoffice</h1>
                <p class="lead"></p>
            </div>
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
    <div class="divider_top"></div>
</section>
<!-- End sub-header -->

<section id="main_content">
    <div class="container">
        <ol class="breadcrumb">
            <li>
                <a href="Backoffice?lin=it">Backoffice</a>
            </li>
            <li class="active">
                <a href="ModificaCDL">Modifica Corso di Laurea</a>
            </li>
        </ol>

        <div class="row">
            <aside class="col-md-4">
                <div class="box_style_1 profile">
                    <h4>Funzioni creazione</h4>
                    <ul>
                        <li>
                            <a href="CreateCDL">Crea un nuovo corso di laurea</a>

                        </li>
                        <li>
                            <a href="CreateCorso">Crea nuovo corso</a>

                        </li>
                        <li>
                            <a href="RegisterDocente">Registra nuovo docente</a>
                            </strong>
                        </li>
                    </ul>

                    <h4>Funzioni modifica</h4>
                    <ul>
                        <li>
                            <a href="Corsianno">Modifica corsi</a>
                        </li>
                        <li>
                            <a href="ModificaCDL">Modifica Cdl</a>
                        </li>
                        <li>
                            <a href="ModificaDocente">Modifica Docente</a>
                        </li>
                    </ul>
                </div>

                <aside class="col-md-12">
                    <div class="box_style_2">
                        <h5> Seleziona il docente interessato</h5>

                        <#list docenti as docenti>
                            <li>
                                <a href="ModificaDocente?n=${docenti.IDDocente}">${docenti.nome} ${docenti.cognome}</a>
                            </li>
                        </#list>

                    </div>
                </aside>
            </aside>






            <#if docente??>
                <div class="col-md-8 box_style_2">
                    <span class="tape"></span>
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Modifica il profilo di ${docente.nome} ${docente.cognome}</h4>

                        </div>
                    </div>
                    <div id="message-apply"></div>

                    <form method="post" action="ModificaDocente" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <h5>Nome del docente</h5>
                                <div class="form-group">
                                    <input type="text" class="form-control style_2 required form-control" id="nome" placeholder="Nome" value="${docente.nome}"
                                        name="nome" required>
                                    <span class="input-icon">
                                        <i class="icon-user"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <h5>Cognome del docente</h5>
                                <div class="form-group">
                                    <input type="text" class="form-control style_2" placeholder="Cognome" value="${docente.cognome}" name="cognome" required>
                                    <span class="input-icon">
                                        <i class="icon-user"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <h5>Email - Optional</h5>
                                <div class="form-group">
                                    <input type="email" class="form-control style_2" placeholder="Email" value="${docente.email}" style="margin-bottom:5px;"
                                        name="email">
                                    <span class="input-icon">
                                        <i class="icon-email"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <h5>Telefono - Optional</h5>
                                <div class="form-group">
                                    <input type="tel" class="form-control style_2" placeholder="Numero Telefonico" value="${docente.telefono}" style="margin-bottom:5px;"
                                        name="telefono">
                                    <span class="input-icon">
                                        <i class="icon-phone"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <h5>Uffico - Optional</h5>
                                <div class="form-group">
                                    <input type="text" class="form-control style_2" placeholder="Ufficio n&#186" value="${docente.ufficio}" style="margin-bottom:5px;"
                                        name="ufficio">

                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <h5>Specializzazione - Optional</h5>
                                <div class="form-group">
                                    <input type="text" class="form-control style_2" placeholder="Specializzazione" value="${docente.specializzazione}" style="margin-bottom:5px;"
                                        name="specializzazione">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <h5>Ricevimento - Optional</h5>
                                <div class="form-group">
                                    <input type="text" class="form-control style_2" placeholder="Giorno  Ora inizio&#247Ora Fine" value="${docente.ricevimento}"
                                        style="margin-bottom:5px;" name="ricevimento">
                                </div>
                            </div>
                        </div>

                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <h4>Ricerche docente - Optional</h4>
                                    <textarea rows="5" maxlength="50" id="mytextarea" name="ricerche" class="form-control tinymce" placeholder="Scrivi qui la tua pagina di ricerche"
                                        style="height:150px;">${docente.ricerche}</textarea>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <h4>Pubblicazioni docente - Optional</h4>
                                    <textarea rows="5" maxlength="50" name="pubblicazioni" class="form-control tinymce" placeholder="Scrivi qui la tua pagina di pubblicazioni"
                                        style="height:150px;">${docente.pubblicazione}</textarea>
                                </div>
                            </div>
                        </div>


                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <h4>Upload curriculum - Optional</h4>
                                    <h5>Curriculum
                                        <a <#if docente.curriculum??> href="download?k=${docente.curriculum}"
                                            <#else> href="#" </#if> target="_self">
            <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
            </a>
            </h5>
            <input type="file" name="curriculum" v onchange="ValidateCurr(this)" />
            </div>
            </div>
            </div>
            <hr>


            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <h4>Upload Immagine - Optional</h4>
                        <img id="img-docente1" src="${docente.immagine}" alt="Teacher" class="img-circle styled">
                        <br>
                        <br>
                        <input type="file" name="immagine" onchange="ValidateImg(this)" />

                    </div>
                </div>
            </div>
            <hr>


            <div class="row">
                    <div class="col-md-6 col-sm-6">
                            <h5>Password</h5>
                        <div class="form-group">
                                <input type="text" class="form-control style_2" value="${utente.password}" name="password">
                                <span class="input-icon">
                                <i class="#"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <hr>



            <input type="submit" name="modifica" value="Modifica docente" class="button_subscribe_green">
            <input type="submit" name="cancella" value="cancella docente" style="float: right" class="button_subscribe_green">

            </form>
            </div>
            </#if>
            <!-- End row-->
        </div>
        <!-- End container -->
</section>
<!-- End main_content-->