<html lang="it">
    
    <head>
          <meta charset="utf-8">
        <title>LEARN - Courses, Education site template</title>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
        
        <!-- Favicons-->
        <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon"/>
        <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">
         
        <!-- REVOLUTION BANNER CSS SETTINGS -->
	    <link href="rs-plugin/css/settings.css" media="screen" rel="stylesheet">

        <!-- CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/js/bootstrap-select.min.js" rel="js">
        <link href="css/superfish.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link href="fontello/css/fontello.css" rel="stylesheet">
        
        
        <script type="text/javascript">
              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-11097556-8']);
              _gaq.push(['_trackPageview']);
            
              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();
        </script>
    
   <script> $(function(){
        $('.selectpicker').selectpicker();});
    </script>

      </head>
    
    <!---------------------------------inizio menu -----------------------  -->
      <body>
        <header>
          <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3">
                <a href="Home" id="logo">Learn</a>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-9">
                <div class="pull-right"><a href="Login" class="button_top" id="login_top">Login</a>
                    
                    <select class="selectpicker" data-width="fit">
                        <option data-content='<span class="flag-icon flag-icon-us"></span> English'>English</option>
                      <option  data-content='<span class="flag-icon flag-icon-it"></span> Italiano'>Italiano</option>
                    </select> 
                
            </div>
        </div>
    </div>
    </header><!-- End header -->
    
    <nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="mobnav-btn"></div>
                <ul class="sf-menu">
                    <li class="normal_drop_down"><a href="listcorsi">Course</a></li>
                    <li><a href="listdocenti">Teachers</a></li>
                    
                    
                    
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
    </nav>
<!---------------------------------fine menu -----------------------  -->

<#include content_tpl> <!-----------------BODY---------------------->

<footer>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h3>Subscribe to our Newsletter for latest news.</h3>
                    <div id="message-newsletter">
                    </div>
                    <form method="post" action="assets/newsletter.php" name="newsletter" id="newsletter" class="form-inline">
                        <input name="email_newsletter" id="email_newsletter" type="email" value="" placeholder="Your Email" class="form-control">
                        <button id="submit-newsletter" class=" button_outline"> Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
        
        <hr>
        
        <div class="container" id="nav-footer">
            <div class="row text-left">
                <div class="col-md-3 col-sm-3">
                    <h4>Browse</h4>
                    <ul>
                        <li><a href="prices_plans.html">Prices</a></li>
                        <li><a href="courses_grid.html">Courses</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="contacts.html">Contacts</a></li>
                    </ul>
                </div><!-- End col-md-4 -->
                <div class="col-md-3 col-sm-3">
                    <h4>Next Courses</h4>
                    <ul>
                        <li><a href="course_details_1.html">Biology</a></li>
                        <li><a href="course_details_2.html">Management</a></li>
                        <li><a href="course_details_2.html">History</a></li>
                        <li><a href="course_details_3.html">Litterature</a></li>
                    </ul>
                </div><!-- End col-md-4 -->
                <div class="col-md-3 col-sm-3">
                    <h4>About Learn</h4>
                    <ul>
                        <li><a href="about_us.html">About Us</a></li>
                        <li><a href="apply_2.html">Apply</a></li>
                        <li><a href="#">Terms and conditions</a></li>
                        <li><a href="register.html">Register</a></li>
                    </ul>
                </div><!-- End col-md-4 -->
                <div class="col-md-3 col-sm-3">
                    <ul id="follow_us">
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class=" icon-google"></i></a></li>
                    </ul>
                    <ul>
                        <li><strong class="phone">+0034 43244 44</strong><br><small>Mon - Fri / 9.00AM - 06.00PM</small></li>
                        <li>Questions? <a href="#"><span class="__cf_email__" data-cfemail="6514100016110c0a0b1625010a08040c0b4b060a08">[email&#160;protected]</span><script data-cfhash='f9e31' type="text/javascript">/* <![CDATA[ */!function(t,e,r,n,c,a,p){try{t=document.currentScript||function(){for(t=document.getElementsByTagName('script'),e=t.length;e--;)if(t[e].getAttribute('data-cfhash'))return t[e]}();if(t&&(c=t.previousSibling)){p=t.parentNode;if(a=c.getAttribute('data-cfemail')){for(e='',r='0x'+a.substr(0,2)|0,n=2;a.length-n;n+=2)e+='%'+('0'+('0x'+a.substr(n,2)^r).toString(16)).slice(-2);p.replaceChild(document.createTextNode(decodeURIComponent(e)),c)}p.removeChild(t)}}catch(u){}}()/* ]]> */</script></a></li>
                    </ul>
                </div><!-- End col-md-4 -->
            </div><!-- End row -->
        </div>
        <div id="copy_right">1998-2014</div>
        </footer>
        
        <div id="toTop">Back to top</div>
        
        <!-- JQUERY -->
        <script src="js/jquery-1.10.2.min.js"></script>
        <script src="js/table_filter.js"></script>
        <script data-cfasync="false" src="/cdn-cgi/scripts/ddc5a536/cloudflare-static/email-decode.min.js"></script>
        <script src="js/jquery-2.2.4.min.js"></script>
        <!-- jQuery REVOLUTION Slider  -->
        <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
        <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
        
        <script type="text/javascript">
            
                    var revapi;
            
                    jQuery(document).ready(function() {
            
                           revapi = jQuery('.tp-banner').revolution(
                            {
                                delay:9000,
                                startwidth:1700,
                                startheight:600,
                                hideThumbs:true,
                                navigationType:"none",
                                fullWidth:"on",
                                forceFullWidth:"on"
                            });
            
                    });	//ready
            
                </script>

        <!-- OTHER JS --> 
        <script src="js/superfish.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/row_link.js"></script>
        <script src="js/retina.min.js"></script>
        <script src="assets/validate.js"></script>
        <script src="js/jquery.placeholder.js"></script>
        <script src="js/functions.js"></script>
        <script src="js/classie.js"></script>
        <script src="js/uisearch.js"></script>
        <script>new UISearch( document.getElementById( 'sb-search' ) );</script>
        
        <!-- STYLE SWITCHER  -->
<link rel="stylesheet" type="text/css" media="screen,projection" href="src/jquery-sticklr-1.4-light-color.css" >
<script type="text/javascript" src="src/jquery-sticklr-1.4.min.js"></script>
	<script type="text/javascript">
	    $(document).ready(function(){
	        $('#example-1').sticklr({
                animate         : true,
                showOn		    : 'hover'
			});
	    });
	</script>

  </body>
</html>