




		<div class=" box_style_2">
			<span class="tape"></span>
			<div class="row">
				<div class="col-md-12">
					<h3>Your personal info</h3>
				</div>
			</div>
			<div id="message-apply" style="display: block;"><div class="error_message">You must enter your Last name.</div></div>
			<form method="post" action="assets/apply_2.php" id="contactform_apply">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<div class="form-group">
							<input class="form-control style_2" id="name_apply" name="name_apply" placeholder="Name" type="text">
                            <span class="input-icon"><i class="icon-user"></i></span>
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="form-group">
							<input class="form-control style_2" id="lastname_apply" name="lastname_apply" placeholder="Last Name" type="text">
                            <span class="input-icon"><i class="icon-user"></i></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<div class="form-group">
							<input id="email_apply" name="email_apply" class="form-control style_2" placeholder="Enter Email" type="email">
                            <span class="input-icon"><i class="icon-email"></i></span>
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="form-group">
							<input id="phone_apply" name="phone_apply" class="form-control style_2" placeholder="Enter Phone number" type="text">
                            <span class="input-icon"><i class="icon-phone"></i></span>
						</div>
					</div>
				</div>
                
                <div class="row">
					<div class="col-md-6 col-sm-6">
						<div class="form-group">
							<div class="styled-select">
								<select class="form-control" name="country_apply" id="country_apply">
									<option value="" selected="">Select your country</option>
									<option value="Europe">Europe</option>
									<option value="Asia">Asia</option>
									<option value="North America">North America</option>
									<option value="South America">South America</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="form-group">
                        <div class="styled-select">
								<select class="form-control" name="gender_apply" id="gender_apply">
									<option value="" selected="">Select your gender</option>
									<option value="Male">Male</option>
									<option value="Female">Female</option>
								</select>
							</div>
						</div>
					</div>
				</div>
                
                <div class="row">
                <div class="col-md-6 col-sm-6">
                		<div class="form-group">
						<div class="styled-select">
								<select class="form-control" name="education_apply" id="education_apply">
									<option value="" selected="">Select your education level</option>
									<option value="Less than high school">Less than high school</option>
									<option value="High school diploma or equivalent">High school diploma or equivalent</option>
                                    <option value="Some college no degree">Some college, no degree</option>
                                    <option value="Bachelor degree">Bachelor’s degree</option>
                                    <option value="Doctoral or professional degree">Doctoral or professional degree</option>
								</select>
							</div>
                            </div>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="form-group">
							<input name="age_apply" id="age_apply" class="form-control" placeholder="Age" type="text">
                            <span class="input-icon"><i class="icon-user"></i></span>
						</div>
					</div>
				</div>
                
                <hr>
                <h3>Your preferences</h3>
                <p>Which course are you interested? <a href="#">Browse course</a>.</p>
                
                <div class="row">
					<div class="col-md-6 col-sm-6">
                    <div class="form-group">
                    <div class="styled-select">
								<select class="form-control" name="course_apply" id="course_apply">
									<option value="" selected="">Select your a course</option>
									<option value="Less than high school">Management: Build a Business Plan </option>
									<option value="High school diploma or equivalent">Art: Impressionist </option>
                                    <option value="Some college no degree">Litteratture: Poetry </option>
                                    <option value="Bachelor degree">Math: 12 Principles</option>
								</select>
							</div>
                           </div>
				</div>
                </div>
                
              <div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<textarea rows="5" id="message_apply_2" name="message_apply_2" class="form-control" placeholder="Additional message" style="height:150px;"></textarea>
						</div>
					</div>
				</div>
                
                <div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<input id="verify_apply" class=" form-control" placeholder="Are you human? 3 + 1 =" type="text">
					</div>
				</div>
                <div class="col-md-6">
						<div class="form-group pull-right">
							<input value="Submit" class=" button_subscribe_green" id="submit-apply" type="submit">
					</div>
				</div>
                </div>
			</form>
		</div>
	






















                  
                    <h3>Tool tips with four directions</h3>
                        <ul>
                            <li><a href="#" class="tooltip-1" data-placement="top"  data-original-title="Default tooltip">Tooltip on top</a></li>
                            <li><a href="#" class="tooltip-1" data-placement="right" data-original-title="Default tooltip">Tooltip on right</a></li>
                            <li><a href="#" class="tooltip-1" data-toggle="tooltip" data-placement="bottom"  data-original-title="Tooltip on bottom">Tooltip on bottom</a></li>
                            <li><a href="#" class="tooltip-1" data-toggle="tooltip" data-placement="left"  data-original-title="Tooltip on left">Tooltip on left</a></li>
                        </ul>

                  





<!--  Modal -->     
                      <h3>Modals bootstrap</h3>         
                      <p>Toggle a modal via JavaScript by clicking the button below. It will slide down and fade in from the top of the page.</p>
                      
                      <!-- Button trigger modal -->
                        <button class="button_medium" data-toggle="modal" data-target="#myModal">
                          Launch demo modal
                        </button>
                        
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                              </div>
                              <div class="modal-body">
                                  <h4>Overflowing text to show optional scrollbar</h4>
                                  <p>We set a fixed <code>max-height</code> on the <code>.modal-body</code>. Watch it overflow with all this extra lorem ipsum text we've included.</p>
                                  <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                                  <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                                  <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                                  <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                                  <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class=" button_medium_outline" data-dismiss="modal">Close</button>
                                <button type="button" class="button_medium">Save changes</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        
                         <h3>Modals bootstrap optional size</h3>
                         <p>Modals have two optional sizes, available via modifier classes to be placed on a <code>.modal-dialog</code>.</p>
                         
                         <!-- Large modal -->
                            <button class="button_medium" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button>
                            
                            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                              </div>
                              <div class="modal-body">
                                 <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                                  <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                                </div>
                                </div>
                              </div>
                            </div>
                            
                            <!-- Small modal -->
                            <button class="button_medium" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal</button>
                            
                            <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                              </div>
                              <div class="modal-body">
                                 <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                                  <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                                </div>
                                </div>
                              </div>
                            </div>