<section id="sub-header">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <h1>Backoffice</h1>
                <p class="lead"></p>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
    <div class="divider_top"></div>
    </section><!-- End sub-header -->
    
<section id="main_content">
    <div class="container">
            <ol class="breadcrumb">
                    <li><a href="Backoffice">Backoffice</a></li>
                    <li class="active"><a href="Profile">Profile</a></li>
                </ol>




                 
                <div class="row">
                        <aside class="col-md-4">
                            <div class="box_style_1 profile">
                                <h4>Funzioni creazione</h4>
            
                                <ul>
                                    <li>
                                        <a href="CreateCDL">Crea un nuovo corso di laurea</a>
                                       
                                    </li>
                                    <li>
                                        <a href="CreateCorso">Crea nuovo corso</a>
                                        
                                    </li>
                                    <li>
                                        <a href="RegisterDocente">Registra nuovo docente</a>
                                       
                                    </li>
                                </ul>
            
                                <h4>Funzioni modifica</h4>
                                <ul>
                                        <li><a href="Corsianno">Modifica corsi</a></li>
                                        <li><a href="ModificaCdl">Modifica Cdl</a></li>.
                                        <li><a href="ModificaDocente">Modifica Docente</a></li>
                                    </ul>
                            </div>
            
                        </aside>

                <div class="col-md-8 box_style_2">
                    <span class="tape"></span>
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Modifica Profilo</h4>
                        </div>
                    </div>
                    <div id="message-apply"></div>
                    <form method="post" action="Profile">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control style_2" value="${utente.username}" name="nome">
                                    <span class="input-icon">
                                        <i class="#"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                        <input type="text" class="form-control style_2" value="${utente.password}" name="password">
                                        <span class="input-icon">
                                        <i class="#"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        





                        <input type="submit" name="profilo" value="Modifica Profilo" class="button_subscribe_green" id="submit-apply">
    
                    </form>

                        
                                
                             
                              
                </div>
        </div><!-- End row-->   
    </div><!-- End container -->
</section><!-- End main_content-->