<section id="sub-header">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <h1>Backoffice</h1>
                <p class="lead"></p>
            </div>
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
    <div class="divider_top"></div>
</section>
<!-- End sub-header -->

<section id="main_content">
    <div class="container">
        <ol class="breadcrumb">
            <li>
                <a href="Backoffice">Backoffice</a>
            </li>
            <li class="active">
                <a href="RegisterDocente">Registrazione Docente</a>
            </li>
        </ol>





        <div class="row">
                <aside class="col-md-4">
                    <div class="box_style_1 profile">
                        <h4>Funzioni creazione</h4>
    
                        <ul>
                            <li>
                                <a href="CreateCDL">Crea un nuovo corso di laurea</a>
                                </strong>
                            </li>
                            <li>
                                <a href="CreateCorso">Crea nuovo corso</a>
                                </strong>
                            </li>
                            <li>
                                <a href="RegisterDocente">Registra nuovo docente</a>
                                </strong>
                            </li>
                        </ul>
    
                        <h4>Funzioni modifica</h4>
                        <ul>
                            <li>
                                <a href="Corsianno">Modifica corsi</a>
                                </strong>
                            </li>
                        </ul>
                    </div>
    
                </aside>
            




            <div class="col-md-8 box_style_2">
                <span class="tape"></span>
                <div class="row">
                    <div class="col-md-12">
                        <h4>Registra un nuovo docente</h4>

                    </div>
                </div>
                <div id="message-apply"></div>

                <form method="post" action="RegisterDocente" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control style_2" placeholder="Nome Docente" name="nome" required>
                                <span class="input-icon">
                                    <i class="icon-user"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                    <input type="text" class="form-control style_2" placeholder="Cognome Docente" name="cognome" required>
                                    <span class="input-icon">
                                    <i class="icon-user"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                    <input type="email" class="form-control style_2" placeholder="Email" style="margin-bottom:5px;" name="email">
                                    <span class="input-icon">
                                    <i class="icon-email"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                    <input type="tel" class="form-control style_2" placeholder="Telefono" style="margin-bottom:5px;" name="telefono">
                                    <span class="input-icon">
                                    <i class="icon-phone"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                    <input type="text" class="form-control style_2" placeholder="Ufficio" style="margin-bottom:5px;" name="ufficio">
                                
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                    <input type="text" class="form-control style_2" placeholder="Specializzazione" style="margin-bottom:5px;" name="specializzazione">    
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                    <input type="text" class="form-control style_2" placeholder="Ricevimento" style="margin-bottom:5px;" name="ricevimento">
                            </div>
                        </div>
                    </div>

                    <hr>
                    <div class="row">
                    <h4>Ricerche docente</h4> 
					<div class="col-md-12">
                            <div class="form-group">
                                <textarea rows="5" id="mytextarea" name="ricerche" class="form-control tinymce" placeholder="Scrivi qui la tua pagina di ricerche" style="height:150px;"></textarea>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <h4>Pubblicazioni docente</h4> 
                        <div class="col-md-12">
                                <div class="form-group">
                                    <textarea rows="5"  name="pubblicazioni" class="form-control tinymce" placeholder="Scrivi qui la tua pagina di pubblicazioni" style="height:150px;"></textarea>
                                </div>
                            </div>
                        </div>


                    <hr>
                    <div class="row">
                    <h4>Upload curriculum</h4> 
					<div class="col-md-12">
                            <div class="form-group">
                                <input type="file" name="curriculum" onchange="ValidateCurr(this)"/>
                            </div>
                        </div>
                    </div>
                    <hr>
                    

                    <div class="row">
                    <h4>Upload Immagine</h4> 
					<div class="col-md-12">
                            <div class="form-group">
                                <input type="file" name="immagine" onchange="ValidateImg(this)"/>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <input type="submit" name="registra" value="Registra docente" class="button_subscribe_green">

                </form>
            </div>
            <!-- End row-->
        </div>
        <!-- End container -->
</section>
<!-- End main_content-->

<script src="js/validate.js"></script>