<section id="sub-header">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <h1>Backoffice</h1>
                <p class="lead"></p>
            </div>
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
    <div class="divider_top"></div>
</section>
<!-- End sub-header -->

<section id="main_content">
    <div class="container">
        <ol class="breadcrumb">
            <li>
                <a href="Backoffice">Backoffice</a>
            </li>
            <li class="active">
                <a href="RegisterDocente">Registrazione Docente</a>
            </li>
        </ol>





        <div class="row">
                <aside class="col-md-4">
                    <div class="box_style_1 profile">
                        <h4>Funzioni creazione</h4>
    
                        <ul>
                            <li>
                                <a href="CreateCDL">Crea un nuovo corso di laurea</a>
                                </strong>
                            </li>
                            <li>
                                <a href="CreateCorso">Crea nuovo corso</a>
                                </strong>
                            </li>
                            <li>
                                <a href="RegisterDocente">Registra nuovo docente</a>
                                </strong>
                            </li>
                        </ul>
    
                        <h4>Funzioni modifica</h4>
                        <ul>
                            <li>
                                <a href="Corsianno">Modifica corsi</a>
                                </strong>
                            </li>
                        </ul>
                    </div>
    
                </aside>
            




            <div class="col-md-8 box_style_2">
                <span class="tape"></span>
                <div class="row">
                    <div class="col-md-12">
                        <h4>Registra un nuovo docente</h4>
                        
                    </div>
                </div>
                <div id="message-apply"></div>

                <form method="post" action="RegisterDocente" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                                <h5>Nome del docente</h5>
                            <div class="form-group">
                                <input type="text" class="form-control style_2 required form-control" id="nome" placeholder="Nome" name="nome" required>
                                <span class="input-icon">
                                    <i class="icon-user"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <h5>Cognome del docente</h5>
                            <div class="form-group">
                                    <input type="text" class="form-control style_2" placeholder="Cognome" name="cognome" required>
                                    <span class="input-icon">
                                    <i class="icon-user"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <h5>Email - Optional</h5>
                            <div class="form-group">
                                    <input type="email" class="form-control style_2" placeholder="Email" style="margin-bottom:5px;" name="email">
                                    <span class="input-icon">
                                    <i class="icon-email"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                              <h5>Telefono - Optional</h5>
                            <div class="form-group">
                                    <input type="tel" class="form-control style_2" placeholder="Numero Telefonico" style="margin-bottom:5px;" name="telefono">
                                    <span class="input-icon">
                                    <i class="icon-phone"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                                <h5>Uffico -Optional</h5>
                            <div class="form-group">
                                    <input type="text" class="form-control style_2" placeholder="Ufficio n&#186" style="margin-bottom:5px;" name="ufficio">
                                
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                                <h5>Specializzazione - Optional</h5>
                            <div class="form-group">
                                    <input type="text" class="form-control style_2" placeholder="Specializzazione" style="margin-bottom:5px;" name="specializzazione">    
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                                <h5>Ricevimento - Optional</h5>
                            <div class="form-group">
                                    <input type="text" class="form-control style_2" placeholder="Giorno  Ora inizio&#247Ora Fine" style="margin-bottom:5px;" name="ricevimento">
                            </div>
                        </div>
                    </div>

                    <hr>
                    <div class="row">
                    <h4>Ricerche docente - Optional</h4> 
					<div class="col-md-12">
                            <div class="form-group">
                                <textarea rows="5" id="mytextarea" name="ricerche" class="form-control tinymce" placeholder="Scrivi qui la tua pagina di ricerche" style="height:150px;"></textarea>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <h4>Pubblicazioni docente - Optional</h4> 
                        <div class="col-md-12">
                                <div class="form-group">
                                    <textarea rows="5"  name="pubblicazioni" class="form-control tinymce" placeholder="Scrivi qui la tua pagina di pubblicazioni" style="height:150px;"></textarea>
                                </div>
                            </div>
                        </div>


                    <hr>
                    <div class="row">
                    <h4>Upload curriculum - Optional</h4> 
					<div class="col-md-12">
                            <div class="form-group">
                                <input type="file" name="curriculum" onchange="ValidateCurr(this)"/>
                            </div>
                        </div>
                    </div>
                    <hr>
                    

                    <div class="row">
                    <h4>Upload Immagine - Optional</h4> 
					<div class="col-md-12">
                            <div class="form-group">
                                <input type="file" name="immagine" onchange="ValidateImg(this)"/>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <input type="submit" name="registra" value="Registra docente" class="button_subscribe_green">

                </form>
            </div>
            <!-- End row-->
        </div>
        <!-- End container -->
</section>
<!-- End main_content-->







<!-- Modal About -->
<div class="modal fade" id="terms-txt" tabindex="-1" role="dialog" aria-labelledby="termsLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="termsLabel">Terms and conditions</h4>
        </div>
        <div class="modal-body">
          <p>Lorem ipsum dolor sit amet, in porro albucius qui, in <strong>nec quod novum accumsan</strong>, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum 
  sanctus, pro ne quod dicunt sensibus.</p>
  <p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum 
  sanctus, pro ne quod dicunt sensibus. Lorem ipsum dolor sit amet, <strong>in porro albucius qui</strong>, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum 
  sanctus, pro ne quod dicunt sensibus.</p>
  <p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum 
  sanctus, pro ne quod dicunt sensibus.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->