

<section id="sub-header">
<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 text-center">
			<h1>Insegnanti</h1>
			<p class="lead"></p>
		</div>
	</div><!-- End row -->
</div><!-- End container -->
<div class="divider_top"></div>
</section><!-- End sub-header -->

<section id="main_content">

<div class="container">

<ol class="breadcrumb">
  <li><a href="Home?lin=it">Home</a></li>
  <li><a href="listdocenti?lin=it">Lista Docenti</a></li>
  <li class="active">${docente.nome} ${docente.cognome}</li>
</ol>
      <div class="row">
     <aside class="col-md-4">
     	<div class="box_style_1 profile">
		<p class="text-center"><img id="img-docente" src="${docente.immagine}" alt="Teacher" class="img-circle styled"></p> 
                 <ul>
                     <li>Nome<strong class="pull-right">${docente.nome} ${docente.cognome}</strong> </li>
                     <li>Specializzazione <strong class="pull-right">${docente.specializzazione}</strong></li>
                     <li>Email<a href="mailto:${docente.email}" target="top"> <strong class="pull-right">${docente.email}</strong></a></li>
                     <li>Ufficio<strong class="pull-right">${docente.ufficio}</strong></li>
                     <li>Telefono<strong class="pull-right">${docente.telefono}</strong></li>
                     <li>Ricevimento<strong class="pull-right">${docente.ricevimento}</strong></li>
                     <li>Curriculum<strong class="pull-right"><a <#if docente.curriculum??> href="download?k=${docente.curriculum}" <#else> href="#" </#if> target="_self"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i></a></strong></li>
                 </ul>
			
				
			  
			</div><!-- End box-sidebar -->
     </aside><!-- End aside -->
	 
<div class="col-md-8">

        <main class="main">
               
                        <input class="input" id="tab2" type="radio" name="tabs" checked>
                        <label for="tab2">Ricerche</label>
                          
                        <input class="input" id="tab3" type="radio" name="tabs">
                        <label for="tab3">Pubblicazioni</label>

						<input class="input" id="tab4" type="radio" name="tabs">
                        <label for="tab4">Insegnamenti attivi</label>

                        <section class="section" id="content2">
                        <#noautoesc>
                        ${docente.ricerche}
                        </#noautoesc>
                        </section>
                          
                        <section class="section" id="content3">
                        <#noautoesc>
                        ${docente.pubblicazione}
                        </#noautoesc>
                        </section>
						   
						<section class="section" id="content4">
						<div class="tab-pane fade in" id="courses">
							
							 <div class="table-responsive">
							   <table class="table table-striped">
								 <thead>
								   <tr>
									 <th>Nome</th>
									 <th>SSD</th>
									 <th>CFU</th>
									 <th>Lingua</th>
									 <th>Semestre</th>
									 <th>CDL</th>
									 
									 

									
								   </tr>
								 </thead>
								 <tbody>
								   
									<#list docentecorsi as docentecorsi>
									<tr>
                        			<td><a href="DetailsCorso?n=${docentecorsi.ID}&lin=it">${docentecorsi.nome_it}</a></td>
                        
									 <td>${docentecorsi.SSD}</td>
									 <td>${docentecorsi.cfu}</td>
									 <td>${docentecorsi.lingua}</td>
									 <td>${docentecorsi.semestre}</td>
									    <td><#list docentecorsi.CDL as cdl>
                                    	${cdl.abbr_it}<#if cdl?has_next>,&nbsp&nbsp</#if>
                               			</#list></td>

								   </tr>
								   </#list>
								  
								 </tbody>
							   </table>
							   </div>
					</div><!-- End tab-pane -->
					
			   </div>   <!-- End content-->              
			</section>
</main>
     
</div><!-- End col-md-8--> 
	 
            
		


  </div><!-- End row-->   
</div><!-- End container -->
</section><!-- End main_content-->

<section id="testimonials">
<div class="container">
	<div class="row">
		<div class='col-md-offset-2 col-md-8 text-center'>
			<h2>What they say</h2>
		</div>
	</div>
	<div class='row'>
		<div class='col-md-offset-2 col-md-8'>
			<div class="carousel slide" data-ride="carousel" id="quote-carousel">
				<!-- Bottom Carousel Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
					<li data-target="#quote-carousel" data-slide-to="1"></li>
					<li data-target="#quote-carousel" data-slide-to="2"></li>
				</ol>
				<!-- Carousel Slides / Quotes -->
				<div class="carousel-inner">
					<!-- Quote 1 -->
					<div class="item active">
						<blockquote>
							<div class="row">
								<div class="col-sm-3 text-center">
									<img class="img-circle" src="img/testimonial_1.jpg" alt="">
								</div>
								<div class="col-sm-9">
									<p>
										Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!
									</p>
									<small>Someone famous</small>
								</div>
							</div>
						</blockquote>
					</div>
					<!-- Quote 2 -->
					<div class="item">
						<blockquote>
							<div class="row">
								<div class="col-sm-3 text-center">
									<img class="img-circle" src="img/testimonial_2.jpg" alt="">
								</div>
								<div class="col-sm-9">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor nec lacus ut tempor. Mauris.
									</p>
									<small>Someone famous</small>
								</div>
							</div>
						</blockquote>
					</div>
					<!-- Quote 3 -->
					<div class="item">
						<blockquote>
							<div class="row">
								<div class="col-sm-3 text-center">
									<img class="img-circle" src="img/testimonial_1.jpg" alt="">
								</div>
								<div class="col-sm-9">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget pretium nisl accumsan. Sed ultricies commodo tortor, eu pretium mauris.
									</p>
									<small>Someone famous</small>
								</div>
							</div>
						</blockquote>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</section>

