

<section id="sub-header">
<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 text-center">
			<h1>Teachers</h1>
			<p class="lead">Caulie <strong>dandelion</strong> maize lentil collard greens radish arugula sweet pepper water.</p>
		</div>
	</div><!-- End row -->
</div><!-- End container -->
<div class="divider_top"></div>
</section><!-- End sub-header -->

<section id="main_content">

<div class="container">

<ol class="breadcrumb">
  <li><a href="index.html">Home</a></li>
  <li class="active">Active page</li>
</ol>
      <div class="row">
     <aside class="col-md-4">
     	<div class=" box_style_1 profile">
		<p class="text-center"><img src="img/teacher_2_small.jpg" alt="Teacher" class="img-circle styled"></p>
        		  <ul class="social_teacher">
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                    <li><a href="#"><i class=" icon-google"></i></a></li>
                </ul>   
                 <ul>
                     <li>Name <strong class="pull-right">Carla Twain</strong> </li>
                     <li>Email <strong class="pull-right"><a class="__cf_email__" href="/cdn-cgi/l/email-protection" data-cfemail="d9b0b7bfb699bdb6b4b8b0b7f7bab6b4">[email&#160;protected]</a><script data-cfhash='f9e31' type="text/javascript">/* <![CDATA[ */!function(t,e,r,n,c,a,p){try{t=document.currentScript||function(){for(t=document.getElementsByTagName('script'),e=t.length;e--;)if(t[e].getAttribute('data-cfhash'))return t[e]}();if(t&&(c=t.previousSibling)){p=t.parentNode;if(a=c.getAttribute('data-cfemail')){for(e='',r='0x'+a.substr(0,2)|0,n=2;a.length-n;n+=2)e+='%'+('0'+('0x'+a.substr(n,2)^r).toString(16)).slice(-2);p.replaceChild(document.createTextNode(decodeURIComponent(e)),c)}p.removeChild(t)}}catch(u){}}()/* ]]> */</script></strong></li>
                     <li>Telephone  <strong class="pull-right">+34 004238423</strong></li>
                     <li>Students <strong class="pull-right">42</strong></li>
                     <li>Lessons <strong class="pull-right">12</strong></li>
                     <li>Courses <strong class="pull-right">15</strong></li>
                </ul>
              
			</div><!-- End box-sidebar -->
     </aside><!-- End aside -->
     
     <div class="col-md-8">
     
     			<!--  Tabs -->   
                    <ul class="nav nav-tabs" id="mytabs">
                        <li class="active"><a href="#profile_teacher" data-toggle="tab">Profile</a></li>
                        <li><a href="#courses" data-toggle="tab">My Courses</a></li>
                    </ul>
                    
                     <div class="tab-content">
                    
                        <div class="tab-pane fade in active" id="profile_teacher">
                        <h3>About me</h3>
                        <p>Lorem ipsum dolor sit amet, dicta oportere ad est, ea eos partem neglegentur theophrastus. Esse voluptatum duo ne, expetenda corrumpit no per, at mei nobis lucilius. No eos semper aperiri neglegentur, vis noluisse quaestio no. Vix an nostro inimicus, qui ut animal fabellas reprehendunt. In quando repudiare intellegebat sed, nam suas dicta melius ea.</p>
                        <p>Mei ut decore accusam consequat, alii dignissim no usu. Phaedrum intellegat sit ut, no pri mutat eirmod. In eum iriure perpetua adolescens, pri dicunt prodesset et. Vis dicta postulant ad.</p>
                     	<h4>Credentials</h4>
						<p>Lorem ipsum dolor sit amet, dicta oportere ad est, ea eos partem neglegentur theophrastus. Esse voluptatum duo ne, expetenda corrumpit no per, at mei nobis lucilius. No eos semper aperiri neglegentur, vis noluisse quaestio no. Vix an nostro inimicus, qui ut animal fabellas reprehendunt. In quando repudiare intellegebat sed, nam suas dicta melius ea.</p>
						<div class="row">
                        	<div class="col-md-6">
                            	<ul class="list_3">
                                    <li><strong>September 2009 - Bachelor Degree in Economics</strong><p>University of Cambrige - United Kingdom</p></li>
                                    <li><strong>December 2012 - Master course in Economics</strong><p>University of Cambrige - United Kingdom</p></li>
                                    <li><strong>October 2013 - Master's Degree in Statistic</strong><p>University of Oxford - United Kingdom</p></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                            	<ul class="list_3">
                                    <li><strong>September 2009 - Bachelor Degree in Economics</strong><p>University of Cambrige - United Kingdom</p></li>
                                    <li><strong>December 2012 - Master course in Economics</strong><p>University of Cambrige - United Kingdom</p></li>
                                </ul>
                            </div>
                        </div><!-- End row--> 
                       </div><!-- End tab-pane --> 
                       
                       <div class="tab-pane fade in" id="courses">
                       			<h3>Active courses</h3>
                        		<p>Mei ut decore accusam consequat, alii dignissim no usu. Phaedrum intellegat sit ut, no pri mutat eirmod. In eum iriure perpetua adolescens, pri dicunt prodesset et. Vis dicta postulant ad.</p>
                                <div class="table-responsive">
                                  <table class="table table-striped">
                                    <thead>
                                      <tr>
                                        <th>Category</th>
                                        <th>Course name</th>
                                        <th>Lessons</th>
                                        <th>Rate</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>Business</td>
                                        <td><a href="#">Business Plan</a></td>
                                        <td>12</td>
                                        <td class="rating_2"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class=" icon-star-empty"></i><i class=" icon-star-empty"></i></td>
                                      </tr>
                                       <tr>
                                        <td>Business</td>
                                        <td><a href="#">Economy pinciples</a></td>
                                        <td>12</td>
                                        <td class="rating_2"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></td>
                                      </tr>
                                       <tr>
                                        <td>Business</td>
                                        <td><a href="#">Understand diagrams</a></td>
                                        <td>04</td>
                                        <td class="rating_2"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class=" icon-star-empty"></i><i class=" icon-star-empty"></i></td>
                                      </tr>
                                       <tr>
                                        <td>Business</td>
                                        <td><a href="#">Marketing strategies</a></td>
                                        <td>10</td>
                                        <td class="rating_2"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class=" icon-star-empty"></i><i class=" icon-star-empty"></i></td>
                                      </tr>
                                       <tr>
                                        <td>Business</td>
                                        <td><a href="#">Marketing</a></td>
                                        <td>20</td>
                                        <td class="rating_2"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class=" icon-star-empty"></i></td>
                                      </tr>
                                       <tr>
                                        <td>Business</td>
                                        <td><a href="#">Business Plan</a></td>
                                        <td>12</td>
                                        <td class="rating_2"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></td>
                                      </tr>
                                      <tr>
                                        <td>Business</td>
                                        <td><a href="#">Economy pinciples</a></td>
                                        <td>12</td>
                                        <td class="rating_2"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></td>
                                      </tr>
                                       <tr>
                                        <td>Business</td>
                                        <td><a href="#">Understand diagrams</a></td>
                                        <td>04</td>
                                        <td class="rating_2"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class=" icon-star-empty"></i><i class=" icon-star-empty"></i></td>
                                      </tr>
                                       <tr>
                                        <td>Business</td>
                                        <td><a href="#">Marketing strategies</a></td>
                                        <td>10</td>
                                        <td class="rating_2"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class=" icon-star-empty"></i><i class=" icon-star-empty"></i></td>
                                      </tr>
                                       <tr>
                                        <td>Business</td>
                                        <td><a href="#">Marketing</a></td>
                                        <td>20</td>
                                        <td class="rating_2"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class=" icon-star-empty"></i></td>
                                      </tr>
                                       <tr>
                                        <td>Business</td>
                                        <td><a href="#">Business Plan</a></td>
                                        <td>12</td>
                                        <td class="rating_2"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></td>
                                      </tr>
                                     
                                    </tbody>
                                  </table>
                                  </div>
                       </div><!-- End tab-pane -->
                       
                  </div>   <!-- End content-->              
		
     </div><!-- End col-md-8-->   	
  </div><!-- End row-->   
</div><!-- End container -->
</section><!-- End main_content-->

<section id="testimonials">
<div class="container">
	<div class="row">
		<div class='col-md-offset-2 col-md-8 text-center'>
			<h2>What they say</h2>
		</div>
	</div>
	<div class='row'>
		<div class='col-md-offset-2 col-md-8'>
			<div class="carousel slide" data-ride="carousel" id="quote-carousel">
				<!-- Bottom Carousel Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
					<li data-target="#quote-carousel" data-slide-to="1"></li>
					<li data-target="#quote-carousel" data-slide-to="2"></li>
				</ol>
				<!-- Carousel Slides / Quotes -->
				<div class="carousel-inner">
					<!-- Quote 1 -->
					<div class="item active">
						<blockquote>
							<div class="row">
								<div class="col-sm-3 text-center">
									<img class="img-circle" src="img/testimonial_1.jpg" alt="">
								</div>
								<div class="col-sm-9">
									<p>
										Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!
									</p>
									<small>Someone famous</small>
								</div>
							</div>
						</blockquote>
					</div>
					<!-- Quote 2 -->
					<div class="item">
						<blockquote>
							<div class="row">
								<div class="col-sm-3 text-center">
									<img class="img-circle" src="img/testimonial_2.jpg" alt="">
								</div>
								<div class="col-sm-9">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor nec lacus ut tempor. Mauris.
									</p>
									<small>Someone famous</small>
								</div>
							</div>
						</blockquote>
					</div>
					<!-- Quote 3 -->
					<div class="item">
						<blockquote>
							<div class="row">
								<div class="col-sm-3 text-center">
									<img class="img-circle" src="img/testimonial_1.jpg" alt="">
								</div>
								<div class="col-sm-9">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget pretium nisl accumsan. Sed ultricies commodo tortor, eu pretium mauris.
									</p>
									<small>Someone famous</small>
								</div>
							</div>
						</blockquote>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</section>

