@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  padding: 50px 0;
  font-weight: 400;
  text-align: center;
}

p {
  margin: 0 0 20px;
  line-height: 1.5;
}

.main {
  min-width: 320px;
  max-width: 800px;
  padding: 10px;
  margin: 0 auto;
  background: #fff;
}

.section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

.input {
  display: none;
}

#img-piccola {
  width: 68px;
  height: 68px;
}

#flag {
  width: 35px;
  height: 23px;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label:hover {
  color: #888;
  cursor: pointer;
}

.input:checked+label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #fff;
}

label[for*='1']:before {
  content: '\f19c';
  font-family: FontAwesome;
}

label[for*='2']:before {
  content: '\f044';
  font-family: FontAwesome;
}

label[for*='3']:before {
  content: '\f24e';
  font-family: FontAwesome;
}

label[for*='4']:before {
  content: '\f0ac';
  font-family: FontAwesome;
}

label[for*='5']:before {
  content: '\f126';
  font-family: FontAwesome;
}

label[for*='6']:before {
  content: '\f1b3';
  font-family: FontAwesome;
}

label[for*='7']:before {
  content: '\f1cb';
  font-family: FontAwesome;
}

label[for*='8']:before {
  content:"\f002";
  font-family: FontAwesome;
}

#tab1:checked~#content1,
#tab2:checked~#content2,
#tab3:checked~#content3,
#tab4:checked~#content4,
#tab5:checked~#content5
#tab6:checked~#content6
#tab7:checked~#content7
#tab8:checked~#content8{
  display:block;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}

/* Piccole modifiche */

.list_ok li {
  font-size: 16px;
}

#ricerca {
  position: relative;
  float: right;
  top: -20px;
  width: 120px;
  box-sizing: border-box;
  border: 2px solid #1dd7b2;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 10px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  margin-bottom: 2em;
}

#ricerca:focus {
  width: 50%;
}

/*link*/

a.lnbar:visited,
a.lnbar:link {
  color: #fff;
}

a.lnbar:hover {
  color: #1dd7b2;
}

a.lnbar {
  outline: none;
}

#divider {
  padding: 1em;
}

#tipocorso {
  font-size: 16px;
}

#rowgrande {
  margin-left: -50px;
  margin-right: -50px;
}

.basso {
  position: inherit;
  top: 20em;
}

#img-docente {
  width: 30%;
  height: 30%;
}

input[type='checkbox'] {
  visibility: hidden;
}

/*MEDIA QUERY*/

@media only screen and (max-width: 640px) {
  nav ul,
  nav:active ul {
    display: none;
  }
  nav:hover ul {
    display: block;
  }
}

#dc {
  color: #00FFFFFF
}

#dc:hover {
  color: #007bff
}

#space {
  margin-bottom: 40px;
}